.HYPE_scene span.audioVisualicon {
display: block;
float: left;
height: 24px;
line-height: 30px;
margin-right: 1px;
text-align: center;
width: 24px;
background-color: #CB0000;
color: #FFF;
}

.HYPE_scene span.audioVisualicon .icon-play {
font-size: 18px;
}

.HYPE_scene span.audioVisualicon .icon-play {
position: relative;
top: 0.2px;
left: 1px;
}

.HYPE_scene span.audioVisual {
font-size: 13px;
line-height: 24px;
}

.HYPE_scene span.audioVisual {
color: #FFF;
background-color: #CB0000;
display: inline-block;
font-weight: bold;
padding: 0 10px;
-webkit-font-smoothing: antialiased;
}

.HYPE_scene span.audioVisualdescription {
margin-left: 6px;
}

.HYPE_scene span.audioVisualicon .icon-sound {
position: relative;
top: -4px;
left:1px;
}

.HYPE_scene .watch-listen-cta {
width: 50%;
float: left;
}

.watch-listen-container {
width: 100%;
}