.HYPE_scene .stories-group.digest {
width: 50%;
float: left;

margin-bottom: 32px;
}

.HYPE_scene .stories-group.vertical-minimum {
width: 220px;
float: left;
padding: 0 8px;
box-sizing: border-box;
margin-bottom: 32px;
}


.HYPE_scene .vertical .hard-news-unit--regular .hard-news-unit__image {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-ms-box-sizing: content-box;
-o-box-sizing: content-box;
box-sizing: content-box;
width: 100%;
}

.HYPE_scene .vertical a.hard-news-unit {
padding-top: 0px;
border-top: 0px solid #EDEDED;
margin-top: 0px;
}

.HYPE_scene .vertical .hard-news-unit__body {
padding-top: 6px;
}


.HYPE_scene .js-more-index__placeholder {
margin-bottom:0px;
clear: both;
}

.HYPE_scene .threecol h2.group-title {
display: inline-block;
float: left;
width: 31.6%;
margin-left: 16px;
}

.HYPE_scene .threecol .stories-group:first-child h2.group-title{
	margin-left: 0px;
}


.digest-vertical{
	margin-top: 40px;

}

.HYPE_scene .stories-group.digest:nth-child(odd) {

clear: left;
padding-right:8px;
box-sizing: border-box;

}


.HYPE_scene .stories-group.digest:nth-child(even) {


padding-left:8px;
box-sizing: border-box;

}