#tvip-footer-wrap {
border-top: 1px solid #3B3B3B;
}

#tvip-footer-wrap {
margin-top: 0;
}

#tvip-footer-wrap {
padding: 16px 0;
background-color: rgba(0, 0, 0, 0);
border-top: 0px solid #ededed;
margin-top: 16px;
font-size: 14px;
}

.b-g-m, .b-r .b-g-m {
max-width: 976px;
margin: 0 auto;
}

.tvip-hide {
position: absolute;
left: -2500000px;
width: 1px;
overflow: hidden;
}

.enhanced .location-switcher {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
padding-left: 4px;
padding-right: 4px;
width: 27.08333%;
margin-left: 0%;
margin-right: -27.08333%;
float: left;
}

.location-switcher {
position: relative;
color: #979797;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
padding-left: 4px;
padding-right: 4px;
width: 75%;
margin-left: 0%;
margin-right: -75%;
float: left;
}

.enhanced .location-switcher .change-loc-link {
text-decoration: none;
color: #979797;
}

.enhanced .location-switcher .change-loc-link {
text-decoration: none;
color: #979797;
}

.enhanced .location-switcher .change-loc-link .the-loc {
display: inline;
}

.enhanced .location-switcher .change-loc-link .the-loc {
color: #000;
display: inline-block;
cursor: pointer;
}

.enhanced .location-switcher .change-loc-popup {
width: 369px;
left: 90px;
}

.enhanced .change-loc-popup, .enhanced .change-lang-popup {
background-color: #3B3B3B;
z-index: 10002;
padding-top: 8px;
display: none;
position: absolute;
bottom: 37px;
}

.enhanced .close-button {
display: block;
}

.close-button {
display: none;
padding-right: 8px;
overflow: hidden;
}

.enhanced a.close {
cursor: pointer;
padding: 0;
float: right;
}

.tvip-footer a {
text-decoration: none;
}

.enhanced a.close .icon {
color: #FFF;
font-weight: 700;
}

body .tviplayericon.icon {
font-family: 'tviplayericons';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-transform: translateZ(0);
}

.enhanced a.close span {
float: right;
width: 15px;
height: 15px;
background: url(../../../img/sprites/iplayer.png) -213px -187px no-repeat;
display: block;
}

.enhanced .nations, .enhanced .regions, .enhanced .languages {
border-top: 1px solid #555;
margin-top: 8px;
padding-top: 8px;
}

.tvip-clearfix {
_height: 1%;
zoom: 1;
}

.enhanced .location-switcher .change-loc-popup ul.left, .enhanced .location-switcher .change-loc-popup ul.right {
width: 48%;
float: left;
}

.enhanced .change-loc-popup ul, .enhanced .change-lang-popup ul {
display: block;
}

.change-loc-popup ul, .change-lang-popup ul {
-webkit-transform: translate3d(0, 0, 0);
overflow: hidden;
display: inline;
}

.enhanced .change-loc-popup ul li, .enhanced .change-lang-popup ul li {
display: block;
line-height: 1.625em;
}

.enhanced .change-loc-popup ul li a, .enhanced .change-loc-popup ul li span, .enhanced .change-lang-popup ul li a, .enhanced .change-lang-popup ul li span {
display: block;
background-color: #3B3B3B;
padding: 4px 0 4px 12px;
color: #FFF;
}

.enhanced .location-switcher .change-loc-popup ul.right {
float: right;
}

.enhanced .loc-popup-arrow, .enhanced .lang-popup-arrow {
display: block;
clear: both;
top: 10px;
position: relative;
left: 30px;
width: 0;
height: 0;
border: 10px solid rgba(0, 0, 0, 0);
border-top-color: #3B3B3B;
border-bottom: 0px;
}

.tvip-clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.enhanced .language-switcher {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
padding-left: 4px;
padding-right: 4px;
width: 20.83333%;
margin-left: 27.08333%;
margin-right: -47.91667%;
float: left;
}

.language-switcher {
position: relative;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
padding-left: 4px;
padding-right: 4px;
width: 25%;
margin-left: 75%;
margin-right: -100%;
float: left;
}

.enhanced .tvip-footer .footerLinks {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
padding-left: 4px;
padding-right: 4px;
width: 58.33333%;
margin-left: 41.66667%;
margin-right: -100%;
float: left;
clear: none;
border-top: 0px;
padding-top: 0;
margin-top: 0;
}

.enhanced .tvip-footer .footerLinks ul {
text-align: right;
}

.enhanced .tvip-footer .footerLinks li {
line-height: 1.4em;
padding: 0 4px 0 0;
}

.tvip-footer .footerLinks ul li {
display: inline-block;
padding-right: 4px;
white-space: pre-line;
}

.tvip-footer .footerLinks ul li a {
white-space: nowrap;
}

.sep {
color: #404040;
padding-left: 4px;
margin: 0;
}

.enhanced .tvip-footer .footerLinks li {
line-height: 1.4em;
padding: 0 4px 0 0;
}

.tvip-clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.HYPE_scene span.sep {
color: #B1B1B1;
padding-left: 3px;
}