.HYPE_scene  ul.bullets-list li {
color: #aaaaaa;
/* margin: 0px; */
list-style-position: inside;
/* border-bottom: 1px solid rgba(190, 190, 190, 0.3); */
margin-right: 0px;
padding: 0px 0px 10px 0px;
/* list-style-type: square; */
}

.HYPE_scene  ul.bullets-list.col2 li{
margin-right: 0px;	
} 

.HYPE_scene ul.bullets-list{
	margin: 0px;

}

ul.bullets-list.col1 {
float: left;
margin-right: 16px;
width: 100%;
}

ul.bullets-list.col2 {
display: inline-block;
vertical-align: middle;
width: 100%;

}

.HYPE_scene .index-also {
margin-top: 0px;
position: relative;
z-index: 999;
padding-top: 0px;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
padding-bottom: 0px 0px 8px 0px;
clear: both;
margin-bottom: 0px;

}

.HYPE_scene  .index-also  ul.bullets-list li.no-bullet{
	list-style-type: none;
}

.HYPE_scene .index-also  ul.bullets-list li:last-child {
margin-right: 0px;
border-bottom: 0px solid #BEBEBE;
padding-bottom: 0px;
}



.HYPE_scene .index-also .icon-play {
background-color: #CB0000; 
color: #fff;
padding: 1px 3px 0px 5px;
display: inline;
text-align: center;
margin-right: 2px;
}

.HYPE_scene .index-also ul.bullets-list li:before {
content: '';
border-top: 1px solid #EDEDED;
position: relative;
top: 0px;
left: 0;
display: block;
width: 100%;
padding: 0px 0px 0px 0px;
margin-bottom: 10px;
margin-top: 0px;
}



.HYPE_scene .index-also h3.unit__title{
font-weight: 400;
margin-top: 0px;
margin-bottom: 0px;
}

.HYPE_scene .index-also .icon-play {
font-size: 15px;
bottom: -2px;

}

.HYPE_scene .index-alsos .hard-news-unit.hard-news-unit--regular.faux-block-link {
width: 100%;
}

.HYPE_scene #top-stories.index-alsos .hard-news-unit--lead .hard-news-unit__image, .HYPE_scene #top-stories.index-alsos  .hard-news-unit--regular .hard-news-unit__image{
	margin-bottom: 0px;
	
	
}

.HYPE_scene .index-alsos .hard-news-unit+.hard-news-unit{
	border-top: none;
}
.HYPE_scene .index-alsos .hard-news-unit.hard-news-unit--lead.faux-block-link {
padding-bottom: 0px;
border-bottom: none;
margin-bottom: 0px;
}

.HYPE_scene .index-alsos .hard-news-unit.hard-news-unit--regular.faux-block-link, .HYPE_scene .top-stories.index-alsos .top-stories-no-top-border {
margin-top: 24px;
padding-top: 12px;
}

.HYPE_scene .index-alsos.optional .hard-news-unit.hard-news-unit--regular.faux-block-link{
border-top: 1px solid #EDEDED;
}

.HYPE_scene .index-alsos .icon.live {
/* font-weight: 700; */
/* background-color: #CB0000; */
/* color: #FFF; */
/* float: none; */
font-size: 10px;
/* letter-spacing: -.0425em; */
/* line-height: 1; */
/* opacity: 1; */
padding: 0.12em 0.35em 0.06em 0.2em;
/* position: relative; */
/* top: -.25em; */
/* vertical-align: baseline; */
/* text-transform: uppercase; */
}
