.HYPE_scene .moreover span.icon-external-link {
font-size: 22px;
display: table-cell;
padding-right: 8px;
position: relative;
top: 3px;
}


.HYPE_scene .moreover span.cta {
display: table-cell;
}


.HYPE_scene span.external-link {
font-weight: normal;
display: inline-block;
margin-top: 4px;
margin-left: 22px;
}

.HYPE_scene .moreover h2.hyper-title.group__title {
float: left;
}

.HYPE_scene span.about-results {
float: right;
}

.HYPE_scene .hyperpuff.moreover .unit{
	padding-right: 16px;
	box-sizing: border-box;
}

.HYPE_scene .hyperpuff.moreover.single-column .unit{
	padding-right: 0px;
	box-sizing: border-box;
	width:100%;
}

.HYPE_scene .promoted-content{
	color:#767676;
	margin-top: 16px;
	display: block;
	clear: both;
}

.HYPE_scene .hyperpuff.moreover .group {
padding-bottom: 0px;
}

.HYPE_scene .hyperpuff.elsewhere .group {
padding-bottom: 0px;
}

.HYPE_scene .hyperpuff{
	padding-top:40px;
}
 .HYPE_scene .hyperpuff.moreover.no-padding{
	 padding-top:8px;
 }

.HYPE_scene .group.more-index.no-margin{
	margin-top: 40px;
}
 .HYPE_scene .hyperpuff.moreover{
	padding-top:1px;
	clear: both;
}

.HYPE_scene .group.more-index.outbrain {
margin-top: 40px;
}

.HYPE_scene .promoted-content.elsewhere {
margin-top: 0px;
}

.HYPE_scene .more-index .unit__meta {
padding-bottom: 0px;

}

.HYPE_scene .hyperpuff.moreover.single-column {
padding: 0 24px;
margin-bottom: 24px;
}