.HYPE_scene .most-popular-container .hard-news-unit--regular .hard-news-unit__image {
width: 47%;
}

.HYPE_scene .most-popular-container .hard-news-unit.hard-news-unit--regular.faux-block-link{
width: 48.76%;
background: #FFF;
height: 114px;
overflow: hidden;
border-top: 0px;
float: left;
/* vertical-align: baseline; */
margin-top: 0px;
margin-bottom: 16px;
/* margin-left: 12px; */
box-sizing: content-box;
}

.HYPE_scene .most-popular-container .hard-news-unit.hard-news-unit--regular.faux-block-link:nth-child(odd){

margin-right: 12px;
}
.HYPE_scene .most-popular-container .hard-news-unit.hard-news-unit--regular.faux-block-link:nth-child(even){
margin-left: 12px;
}

.HYPE_scene .most-popular-container .hard-news-unit--regular .hard-news-unit__image{
	margin-top: 0px;
}

.HYPE_scene .most-popular-container .hard-news-unit__body {
margin: 8px 8px 8px 0px;
}

.HYPE_scene .most-popular-container .hard-news-unit+.hard-news-unit{
	padding-top: 0px;
}

.HYPE_scene .most-popular-container .hard-news-unit ul.mini-info-list {
position: absolute;
bottom: 8px;
}

.HYPE_scene .most-popular-container .hard-news-unit:hover .most-popular-list-item__rank{
	background: #f00;
	color: #fff;
	
}


.HYPE_scene .most-popular-container .faux-block-link:hover h3.hard-news-unit__headline a {
color: #1167A8;
}

.HYPE_scene .most-popular-container .most-popular-list-item__rank {
position: absolute;
font-weight: bold;
color: #FFF;
top: 0px;
left: 0px;
background: #CB0000;
padding: 2px 0px 0px 0px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
height: 34px;
width: 36px;
vertical-align: middle;
right: inherit;
text-align: center;
line-height: 1.7;
display: inline-table;
font-size: 20px;
-webkit-transition: background .5s ease-out, color .5s ease-out;
-moz-transition: background .5s ease-out, color .5s ease-out;
-o-transition: background .5s ease-out, color .5s ease-out;
transition: background .5s ease-out, color .5s ease-out;
}

.HYPE_scene .most-popular-container .programmes-icon {
position: absolute;
bottom: 0px;
background: #fff;
}

.HYPE_scene .popular-page .tab_container {
clear: both;
background: none;
/* overflow: hidden; */
}


.HYPE_scene .popular-page ul.tabs {
margin: 0 0 24px 0;
padding: 0;
float: left;
list-style: none;
width:inherit;
border: 1px solid #CFCFCF;

}

.HYPE_scene .popular-page .most-popular__header__tabs li a, .HYPE_scene .most-popular.popular-page .most-popular__header__tabs--read a{
	margin-top: 0px;
	padding-bottom: 9px;
	
}

.HYPE_scene .popular-page .most-popular__panels {
margin-left: 0px;
margin-right: 0px;
}

.HYPE_scene .popular-page .most-popular__title{
	padding-left: 0px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 28px;
}

.most-popular.popular-page .most-popular__header__tabs--watched a, .most-popular.popular-page .most-popular__header__tabs--shared a, .most-popular.popular-page .most-popular__header__tabs--read a {
margin-right: 0;
margin-left: 0;
}

.HYPE_scene .popular-page .most-popular__header__tabs li.active a {
background-color: #CFCFCF;
}

.HYPE_scene .popular-page .most-popular__header__tabs li a {
background-color: #FFF;
}

.HYPE_scene .popular-page li.most-popular__header__tabs--watched {
border-right: 1px solid #CFCFCF;
border-left: 1px solid #CFCFCF;
}

.HYPE_scene .popular-page .most-popular__header__tabs li.active:first-child a {
padding-left: 19px;
}

 .HYPE_scene .popular-page h3.hard-news-unit__headline a{
	 letter-spacing: -0.5px;
 }
 
 .HYPE_scene .popular-page .most-popular__header__tabs li a{
	 font-weight: 400;
 }