.HYPE_scene .off-screen,.HYPE_scene .index-title--redundant,.HYPE_scene .index-title--front-page,.HYPE_scene .election-live-banner-slot__item--hide,.HYPE_scene .scot-ref-header-dropdown-explore__button span {
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

.HYPE_scene .faux-block-link {
position: relative;
}

.HYPE_scene .hard-news-unit {
display: block;
overflow: hidden;
}

.HYPE_scene .hard-news-unit--lead .hard-news-unit__headline {
margin-bottom: 16px;
}

.HYPE_scene .faux-block-link a,.HYPE_scene .faux-block-link abbr[title] {
position: relative;
z-index: 999;
}

.HYPE_scene .hard-news-unit--lead .hard-news-unit__headline {
margin-bottom: 16px;
}

.HYPE_scene #top-stories .hard-news-unit--lead .hard-news-unit__image {
float: left;
margin-right: 16px;
width: 42.5%;
margin-bottom: 16px;
}

.HYPE_scene #top-stories.index-alsos .hard-news-unit--regular .hard-news-unit__image{
	width: 26%;
}

.HYPE_scene #top-stories.index-alsos.optional .hard-news-unit--regular .hard-news-unit__image {
width: 44.9%;
}


.HYPE_scene .hard-news-unit__body {
display: table-cell;
}

.HYPE_scene .hard-news-unit--lead .hard-news-unit__summary {
margin-top: 0;
}


.HYPE_scene  .mini-info-list__item {
border-right: 1px solid #DCDCDC;
display: inline-block;
margin-right: .2em;
padding-right: .5em;
margin-top: 2px;
margin-bottom: 2px;
white-space: nowrap;
}

.HYPE_scene a.faux-block-link__overlay-link {
position: absolute;
z-index: 0;
opacity: 0;
}

.HYPE_scene .faux-block-link__overlay-link {
display: block;
visibility: visible;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
text-indent: 200%;
white-space: nowrap;
}



.HYPE_scene .faux-block-link--hover .hard-news-unit__headline-link {
            color: #1167A8;           
        }
.HYPE_scene .mini-info-list__section:hover, .HYPE_scene .mini-info-list__section:focus {
color: #1167A8;

}


.HYPE_scene .faux-block-link--hover .hard-news-unit__headline .hard-news-unit__headline-link:hover, .HYPE_scene .faux-block-link--hover .hard-news-unit__headline .hard-news-unit__headline-link:focus {
color: #1167A8;
}

.HYPE_scene .hard-news-unit+.hard-news-unit {
padding-top: 12px;
border-top: 1px solid #EDEDED;
margin-top: 24px;
}


.HYPE_scene .sport-stories__headline-stories,.HYPE_scene .hard-news-unit.hard-news-unit--regular.faux-block-link {
	width: 93.5%;
}


.HYPE_scene .hard-news-unit__body:hover .hard-news-unit__headline-link, .HYPE_scene hard-news-unit--lead:hover .hard-news-unit__headline-link{
color: #1B1A1A;
}

.HYPE_scene #top-stories .hard-news-unit--regular .hard-news-unit__image {
float: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
padding-right: 16px;
width: 27.5%;
}

.HYPE_scene .hard-news-unit--regular .hard-news-unit__image {
margin-top: 2px;
}

.HYPE_scene div .date--v2, .HYPE_scene .hard-news-unit ul.mini-info-list {
margin-bottom: 0px;
}

.HYPE_scene .mini-info-list__item {
border-right: 1px solid #DCDCDC;
display: inline-block;
margin-right: .2em;
padding-right: .5em;
margin-top: 2px;
margin-bottom: 2px;
white-space: nowrap;
}

.HYPE_scene .mini-info-list__item:last-child {
border-right: none;
margin-right: 0;
padding-right: 0;
}

.HYPE_scene .mini-info-list__section {
color: #CC0101;
}

.HYPE_scene .hard-news-unit__summary {
color: #767676;
margin-top: 4px;
}

.HYPE_scene .top-stories:last-child {
border-bottom: none;
}

.HYPE_scene .top-stories .top-stories-no-top-border{
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
}


 border-bottom: 1px solid #EDEDED; 
.HYPE_scene .hard-news-unit.hard-news-unit--lead {
border-bottom: 1px solid #ededed;
padding-bottom: 24px;
margin-bottom: 14px;
}



.HYPE_scene .sport-stories__headline-stories {
margin-left: -4px;
margin-right: -4px;
margin-top: 24px;
}

.HYPE_scene .sport-stories__headline-stories {
border-top: 1px solid #EDEDED;
margin-top: 16px;
}

.HYPE_scene .sport-stories__headline-story:first-child,.HYPE_scene .sport-stories__headline-story:first-child+.sport-stories__headline-story {
margin-top: 16px;
}


.HYPE_scene h4.sport-stories__headline-story-headline, .HYPE_scene a.sport-stories__headline-story {
color: #1E1E1E;
font-weight: normal;
}

.HYPE_scene .sport-stories__headline-story {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
margin-left: -4px;
margin-top: 24px;
padding-left: 8px;
padding-right: 8px;
vertical-align: top;
width: 50%;
}

.HYPE_scene .sport-stories__thumbnail-stories .hard-news-unit.hard-news-unit--regular:first-child .hard-news-unit__image{
	width: 48.1%;
}


.HYPE_scene .local-weather .hard-news-unit--regular .hard-news-unit__image, .HYPE_scene .sport-stories .hard-news-unit--regular .hard-news-unit__image, .HYPE_scene .top-stories.generic .hard-news-unit--regular .hard-news-unit__image {
float: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
padding-right: 16px;
width: 37%;
}

.HYPE_scene a.top-stories-promo-story{margin-top: 16px;display: block;}

.HYPE_scene .hard-news-unit ul.mini-info-list {
margin-top: 8px !important;
}

.HYPE_scene .top-stories-promo .date.date--v2 {
margin-top: 4px;
}



.HYPE_scene .hard-news-unit.hard-news-unit--lead.faux-block-link {
border-bottom: 1px solid #EDEDED;
margin-bottom: 14px;
}

.HYPE_scene .special-report {
margin-top: 40px;
}

.HYPE_scene .special-report.languages {
margin-top: 8px;
}


.HYPE_scene .sport-stories {
margin-top: 40px;
}