<footer class="footer section-padding--half bg-white">
  <div class="footer__container grid">
    <p>&copy;{{ site.time | date: "%Y" }} {{ site.title }}.</p>
    {% if site.email or site.social %}
      <!-- <ul class="footer__social">
        {% if site.email %}
          <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
        {% endif %}
        {% for social in site.social %}
          <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
        {% endfor %}
      </ul> -->
    {% endif %}
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/js/scripts.min.js"></script>

{% if site.instagram_key %}
  <script type="text/javascript">
    if ($('body').attr('id') === 'home') {
      instafetch.init({
        accessToken: '{{ site.instagram_key }}',
        numOfPics: 6,
        caption: {{ site.instagram_caption }}
      });
    }
  </script>
{% endif %}
