<nav class="header navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">

    <a class="navbar-brand" aria-label="Home" href="/">
     <!-- <div id="lottie"></div> -->
      <img src="/assets/img/logo.png" width="30" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="d-flex justify-content-md-end navbar-nav mr-auto w-100">
        <!-- <li class="nav-item active">
          <a data-scroll class="nav-link" href="/#about">About <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a data-scroll class="nav-link font-weight-bold" href="/#portfolio">Portfolio</a>
        </li>
        <!-- <li class="nav-item">
          <a data-scroll class="nav-link" href="/#blog">Blog</a>
        </li> -->
      </ul>
    </div>

  </div>
</nav>
