<!-- copy these lines to your document head: -->

<script type="text/javascript" src="{{ '/assets/prototypes/NewsStreamPromo/00_NewStoriesPromo_first_versions.hyperesources/jquery.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/prototypes/NewsStreamPromo/00_NewStoriesPromo_first_versions.hyperesources/parallax.js' | prepend: site.baseurl }}"></script>
<link rel="stylesheet" type="text/css" href="{{ '/assets/prototypes/NewsStreamPromo/00_NewStoriesPromo_first_versions.hyperesources/NewStoriesPromo.css' | prepend: site.baseurl }}" />


<!-- end copy -->

<div id="00newstoriespromofirstversions_hype_container" class="hype__embed" style="position:relative;width:495px;height:667px;overflow:hidden;">
  <script type="text/javascript" charset="utf-8" src="{{ '/assets/prototypes/NewsStreamPromo/00_NewStoriesPromo_first_versions.hyperesources/00newstoriespromofirstversions_hype_generated_script.js?13552' | prepend: site.baseurl }}"></script>
</div>

<!-- end copy -->
