


{% if item.Right-Side-Column == nil %}
{% else %}
  {% for entry in item.Right-Side-Column %}

    <div class="mt-5 mt-md-0 col-12 offset-md-0 offset-lg-0 col-md-3 col-lg-3 pb-5 p-md-4 mb-md-5 mb-lg-0">
      <div class="project-detail-card">
        <div class="row">
          <div class="project-detail-block mb-3 col-4 col-md-12">
            <h6 class="type-size-13 text-uppercase opacity-75">When</h6>
            <div class="row">
              <span class="col-12 type-size-13 font-weight-normal mb-1">{{ entry.When }}</span>
            </div>
          </div>
          <div class="project-detail-block mb-3 col-4 col-md-12">
            <h6 class="type-size-13 text-uppercase opacity-75">Client</h6>
            <div class="row">
              <span class="col-12 type-size-13 font-weight-normal mb-1">{{ entry.Product }}</span>
            </div>
          </div>
          <div class="project-detail-block mb-3 col-4 col-md-12">
            <h6 class="type-size-13 text-uppercase opacity-75">Platform</h6>
            <div class="row">
              <span class="col-12 type-size-13 font-weight-normal mb-1">{{ entry.Platform }}</span>
            </div>
          </div>
          <div class="project-detail-block mb-3 col-12">
            <h6 class="type-size-13 text-uppercase opacity-75">Hats Worn</h6>
            <div class="row">
            {% for roles in entry.Roles %}
              <span class="type-size-13 font-weight-normal mb-1 col-4 col-md-12 col-lg-6">{{ roles.Role }}</span>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
{% endif %}
