// stylelint-disable value-keyword-case
$font-family-sans-serif:       -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700;
$font-weight-xbold:           900 !default;

$line-height-base:            1.7;
$headings-line-height:        1.25;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1.25rem;

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #fafafa;
$gray-200: #f5f4f3 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1A1E23;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$snow:        #F3F5F6;
$blue:        #005cbf; //007bff
$stone:       #182d38;
$stone-deep:  #0d202b;
$navy-deep:   #122639;
$navy:        #17304a;
$indigo:      #6610f2 !default;
$purple:      #5e00c5 !default;
$purple-deep: #673ab7;
$pink:        #e83e8c !default;
$red:         #a70102;
$orange:      #fd7e14 !default;
$yellow:      #ffc107 !default;
$green:       #28a745 !default;
$teal:        #20c997 !default;
$cyan:        #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "stone":      $stone,
  "stone-deep": $stone-deep,
  "purple-deep":$purple-deep,
  "navy-deep":  $navy-deep,
  "navy":       $navy,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "snow":       $snow,
  "gray-100":   $gray-100,
  "gray-200":   $gray-200,
  "gray-600":   $gray-600,
  "gray-dark":  $gray-800,
  "carbon":     $gray-900
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $black !default;
$carbon:        $gray-900  ;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "blue":       $blue,
  "stone":      $stone,
  "stone-deep": $stone-deep,
  "purple-deep":$purple-deep,
  "navy-deep":  $navy-deep,
  "navy":       $navy,
  "purple":     $purple,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "snow":       $snow,
  "gray-100":   $gray-100,
  "gray-200":   $gray-200,
  "dark":       $dark,
  "carbon":     $carbon,
  "red":        $red
), $theme-colors);


.opacity-75{
  opacity: 0.75;
}

.bg-stories-green{
  background-color: #11494C;
}

.bg-f8f8f8{
  background-color: #f8f8f8;
}

.bg-stories-yellow{
  background-color: #EFA836;
}

.font-weight-xbold  { font-weight: $font-weight-xbold !important; }

%type-size-18 {
  font-size: 1.125em;
  letter-spacing: 0px;
}

%type-size-16 {
  font-size: 1em;
  letter-spacing: 0px;
}

ul, ol{
  -webkit-font-smoothing: antialiased;

}


ul.Bullet{
  padding-left: 16px;
}
ol.Bullet{
  padding-left: 16px;
  list-style: none; counter-reset: li
}


ol.Bullet{

  li {counter-increment: li}
  li::before {
    content: counter(li);
    color: #000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl
  }
}


p{
  @extend %type-size-16;
  margin-bottom: $paragraph-margin-bottom !important;
  -webkit-font-smoothing: antialiased;
}

.type-size-18{
  @extend %type-size-18;
}
.figure-caption{
  line-height: $headings-line-height !important;

}

.type-size-15{
  font-size: 0.938em;
  line-height: $headings-line-height;
}

.type-size-14{
  font-size: 0.875em;
  line-height: $headings-line-height;
}
.type-size-13{
  font-size: 0.8125em;
  line-height: $headings-line-height;
}

body .border-w-2{
  border-width: 2px !important;
}

.client-logo{
  background-repeat: no-repeat;
  padding-left: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  &.bbc-news{
    background-image: url('/assets/svg/BBC_News.svg');
  }
  &.bbc{
    background-image: url('/assets/svg/BBC.svg');
  }
  &.cbbc{
    background-image: url('/assets/svg/CBBC_2016_with_outline.svg');
    height: 50px;
    width: 50px;
  }
  &.cbeebies{
    background-image: url('/assets/svg/Cbeebies-logo.svg');
    height: 48px;
    width: 80px;
  }
}

.shadow{
  box-shadow: 0 6px 16px #0000005c;
}

.anchor-underline-dark{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: inline-block;
}

.anchor-underline-light{
  border-bottom: 1px solid rgba(251, 17, 0, 0.7);

}

p a{
  border-bottom: 1px solid rgba(251, 17, 0, 0.7);
  display: inline-block;
  height: 25px;
}

figcaption {
  max-width: 720px;
  a{
  border-bottom: 1px solid rgba(251, 17, 0, 0.7);
  display: inline-block;
  }
}

.chip{
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #f44336;
    margin-bottom: 5px;
    margin-right: 5px;

    &:hover{
      color: #ffffff;
      background-color: #d43226;
    }
}

.paragraph-decor{
  p{
    margin-bottom: 4rem !important;
  }
  p:before{
    content: "";
    position: relative;
    display: block;
    width: 6em;
    height: 4px;
    margin-bottom: 8px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 20%, rgba(255,250,0,1) 20%, rgba(255,250,0,1) 40%, rgba(5,231,10,1) 40%, rgba(5,231,10,1) 60%, rgba(0,179,255,1) 60%, rgba(0,179,255,1) 80%, rgba(218,12,208,1) 80%);
  }
}
// h1{
//   background: #1488CC;
//   background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
//   background: linear-gradient(to right, #2B32B2, #1488CC);
//   -webkit-background-clip: text !important;
//   background-clip: text !important;
//   color: transparent !important;
// }


div#Stage{
  transform: scale(0.17) !important;
  transform-origin: left top;
  width: 80em !important;
  height: 46em !important;
  @include media-breakpoint-up(xs) { transform: scale(0.26) !important;}
  @include media-breakpoint-up(sm) { transform: scale(0.398) !important;}
  @include media-breakpoint-up(md) { transform: scale(0.53) !important; }
  @include media-breakpoint-up(lg) { transform: scale(0.7) !important; }
  @include media-breakpoint-up(xl) { transform: scale(0.8) !important; }

}

#Stage_video_Rectangle5{
  background-color: transparent !important;
}
.edge-prototype{
  @include media-breakpoint-up(xs) { height: 13.5em !important;}
  @include media-breakpoint-up(sm) { height:19.5em !important;}
  @include media-breakpoint-up(md) { height: 25.6em !important; }
  @include media-breakpoint-up(lg) { height: 34em !important; }
  @include media-breakpoint-up(xl) { height: 38em !important; }
}
.product-name{
  max-width: 100%;
}

.overflow-hidden{
  overflow:hidden;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-width: 0;
  border-radius: 4px;
}

#lottie{
  width: 50px;
  height: 50px;
}



// 
// .message-received {
//   clear: both;
//   overflow: hidden;
// }
//
// .message-received::before,
// .message-received::after {
//   content: '';
//   display: table;
// }
//
//
// .col-message-received {
//   margin-right: calc(8.33333333% + 0.08333333em) !important;
// }
//
// .col-message-received {
//   width: calc(91.66666667% - 0.08235677em);
// }
//
// .message-received {
//   margin-top: 0.0625em;
//   margin-bottom: 0.0625em;
//   padding: 1.25em;
// }
//
// .message-received p {
//   margin: 0;
//   font-size:16px;
//   line-height: 19px;
// }
//
//
// .message-received {
//   float: left;
//   border-radius: 0.25em 2em 2em 0.25em;
// }
// .message-received:first-child {
//   border-radius: 2em 2em 2em 0.25em;
// }
// .message-received:last-child {
//   border-radius: 0.25em 2em 2em 2em;
// }
// .message-received:only-child {
//   border-radius: 2em 2em 2em 0.25;
// }
