              <div class="also-in-the-news">
                    <div class="subheader double-pica bourgeois"><a href="">Also in the news</a> <span class="icon-next-light"></span>
                    </div>
                    <div class="row">
                        <div class="xxlarge-24 xlarge-24 large-24 medium-24  columns">
                            <ul class="xxlarge-block-grid-2 xlarge-block-grid-2 large-block-grid-2 medium-block-grid-1 small-block-grid-1">
                                <li class="link">
                                    <div class="responsive-image xxlarge-11 xlarge-10 large-10 medium-8 small-10 columns">
                                        <img src="http://news.bbcimg.co.uk/media/images/79445000/jpg/_79445342_snake1.jpg" alt="">
                                    </div>
                                    <h2 class="pica english"><a href="">Stray snake mistaken for bracelet</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">3 Dec</div>
                                        </li>
                                        <li><a href="" class="section-tag">Scotland</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link">
                                    <div class="responsive-image columns xxlarge-11 xlarge-10 large-10 medium-8 small-10">
                                        <img src="http://news.bbcimg.co.uk/media/images/79451000/jpg/_79451350_paddington_studiocanal.jpg" alt="">
                                    </div>
                                    <h2 class="pica english"><a href="">Paddington gets bear hug at cinemas</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">3 Dec</div>
                                        </li>
                                        <li><a href="" class="section-tag">Ent &amp; arts</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


