<div class="cluster">

    <ul class=" xxlarge-block-grid-4 xlarge-block-grid-4 large-block-grid-4 medium-block-grid-2 small-block-grid-2 explainers__stories">
        <li class="link">
            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/80881000/jpg/_80881917_182085934.jpg" alt="" />

            </div>
            <h2 class="pica english"><a href="">When does avoidance become evasion?</a></h2>

        </li>
        <li class="link">
            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24  responsive-image columns">
                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/75138000/jpg/_75138609_179409028.jpg" alt="" />
                <div class="overlay-icon">
                    <span class="icon-play"></span>
                </div>
                <div class="video-duration brevier"><span class="duration">3:11</span>
                </div>
            </div>
            <h2 class="pica english"><a href="">India to probe HSBC leak list</a></h2>

        </li>
        <li class="link">
            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                <img class="" src="http://ichef.bbci.co.uk/news/235/media/images/80903000/jpg/_80903318_80903317.jpg" alt="" />

            </div>
            <h2 class="pica english"><a href="">Tax office could not share HSBC data</a></h2>

        </li>
        <li class="link">
            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                <img class="" src="http://ichef.bbci.co.uk/news/270/media/images/63938000/jpg/_63938539_63937738.jpg" alt="" />
                <div class="overlay-icon">
                    <span class="icon-play"></span>
                </div>
                <div class="video-duration brevier"><span class="duration">1:20</span>
                </div>
            </div>
            <h2 class="pica english"><a href=""> HSBC tax files: Timeline of events </a></h2>

        </li>
    </ul>

</div>