
                <div class="cluster midpage">

                                <div class="subheader bourgeois"><a href="">CES 2015</a> <span class="icon-next-light"></span>
                    </div>
                    
                    <ul class=" xxlarge-block-grid-4 xlarge-block-grid-4 large-block-grid-4 medium-block-grid-2 small-block-grid-2 explainers__stories">
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/235/media/images/80159000/jpg/_80159359_harmanone.jpg" alt="" />

                            </div>
                            <h2 class="pica english"><a href="">
                Solving squabbles over in-car sounds
            </a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24  responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/235/media/images/80126000/jpg/_80126598_printedshoes.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">3:11</span>
                                </div>
                            </div>
                            <h2 class="pica english"><a href="">                        In pictures: Hi-tech, high fashion?
</a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/235/media/images/80130000/jpg/_80130205_80130204.jpg" alt="" />

                            </div>
                            <h2 class="pica english"><a href="">                        Super-fast phone charger demoed
</a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/235/media/images/80077000/jpg/_80077443_461255585.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">1:20</span>
                                </div>
                            </div>
                            <h2 class="pica english"><a href="">
                        LG tries again with curved phone
                    </a></h2>

                        </li>
                    </ul>
                    <!--END SPARROW-->
                </div>