
        <div class="gel-off digest-inator">
            <div class="row">
                <div class="xxlarge-24 columns digest-inner">
                    <div class="subheader bourgeois"><a href="">More from BBC News</a>
                    </div>
                    <div class="row">
                        <div class="xxlarge-24 columns">
                            <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3 xlarge-block-grid-3 xxlarge-block-grid-4">
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/660/media/images/75037000/jpg/_75037172_vodafone.jpg" alt="" />
                                        </div>
                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Business</h2>


                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Vodafone to offer broadband and TV </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--                                    <h2 class="pica english section-tag branch">Business <span class="icon-next-light"></span></h2>-->
                                    </div>

                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/660/media/images/78803000/jpg/_78803477_box_bbc.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Politics</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Referendum vote for 16 year olds </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                  <h2 class="pica english section-tag branch">Politics <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/660/media/images/73936000/jpg/_73936418_h1101571-fruit_juice-spl.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Health</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3> <a href="">Call to ban juice from 'five a day' </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag branch">Health <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block" >
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/660/media/images/78906000/jpg/_78906605_78906603.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Education</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Children up for adoption fall by half </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                               <h2 class="pica english section-tag branch">Education <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/625/media/images/78918000/jpg/_78918073_32f61396-a736-4e5f-8948-c8914ee6f516.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Technology</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href=""><span class="icon-play"></span> Spotify defends itself against Swift </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                <h2 class="pica english section-tag branch">Technology <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li >
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/media/images/78910000/jpg/_78910463_78910461.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Sci/Environment</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Countdown to historic comet landing </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag branch">Sci/Environment <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://news.bbcimg.co.uk/media/images/78913000/jpg/_78913421_142952850.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Entertainment</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Cash-strapped ENO pulls out of Orfeo </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag branch">Entertainment <span class="icon-next-light"></span></h2> -->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://news.bbcimg.co.uk/media/images/78920000/jpg/_78920883_024201442-1.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag branch">Magazine</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Things we now know about Mormons </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag branch">Magazine <span class="icon-next-light"></span></h2>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>