
                <div class="explainers">
                    <div class="subheader "><a href="">Explainers</a> <span class="icon-next-light"></span>
                    </div>
                    <ul class=" xxlarge-block-grid-3 xlarge-block-grid-3 large-block-grid-3 medium-block-grid-1 small-block-grid-1 explainers__stories">
                        <li class="link">
                           <div class="explainers_item">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/79458000/jpg/_79458863_79449281.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">1:40</span>
                                </div>
                            </div>
                            <div class="explainers-meta-group">
                            <h2 class="pica english"><a href="">Artificial intelligence explained</a></h2>
                            <ul class="timestamp brevier">
                                <li class="mini-info-list__item">
                                    <div class="date">6 hours ago</div>
                                </li>
                                <li><a href="" class="section-tag">Technology</a>
                                </li>
                            </ul>
                            </div>
                            </div>
                        </li>
                        <li class="link">
                           <div class="explainers_item">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10  responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79449000/jpg/_79449146_03a6eb90-ea36-43ae-9222-5677dcfce209.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">3:11</span>
                                </div>
                            </div>
                             <div class="explainers-meta-group">
                            <h2 class="pica english"><a href="">Attacks increase pressure on Kenya</a></h2>
                            <ul class="timestamp brevier">
                                <li class="mini-info-list__item">
                                    <div class="date">4 hours ago</div>
                                </li>
                                <li><a href="" class="section-tag">Africa</a>
                                </li>
                            </ul>
                               </div>
                            </div>
                        </li>
                        <li class="link">
                           <div class="explainers_item">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79433000/jpg/_79433582_m0500533-coloured_tem_of_hiv_viruses_budding_from_a_t-cell-spl.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">1:20</span>
                                </div>
                            </div>
                             <div class="explainers-meta-group">
                            <h2 class="pica english"><a href="">HIV: Why is virus so 'successful'?</a></h2>
                            <ul class="timestamp brevier">
                                <li class="mini-info-list__item">
                                    <div class="date">1 December 2014</div>
                                </li>
                                <li><a href="" class="section-tag">Health</a>
                                </li>
                            </ul>
                               </div>
                            </div>
                        </li>
                    </ul>
                    <!--END SPARROW-->
                </div>