

<div class="container wrap" ng-app="">
<div class="row">
               
                <div class="in-pictures-v2  dark {{name}}">
                   
                    <div class="subheader column"><a href="">News in Pictures</a> <span class="icon-next-light"></span>
                    </div>
                    
                       <div class="component-wrap">
                        <div class="xxlarge-16 xlarge-24 large-24 medium-24 small-24 columns sport__top-story link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 hard-news-unit__image right">
                                <div class="responsive-image responsive-image--16by9">
                                    <img src="http://ichef.bbci.co.uk/news/1024/media/images/81102000/jpg/_81102969_81102774.jpg" class="responsive-image__image js-image-replace" width="568" height="320">
                                    
                                </div>
                                 <div class="hard-news-unit__headline-container">
                                 <div class="title_description__wrap">
                                <h2 class="great-primer bourgeois">
                              <a href="#" class="hard-news-unit__headline-link">
                             <span class="photo-icon">  <span class="icon-photo"></span></span> Black and white
                              </a>
                           </h2>
                                <p class="english summary ">A rhino and some wildebeest</p>
<!--
                                <ul class="timestamp brevier">
                                    <li class="mini-info-list__item">
                                        <div class="date">1 hour ago</div>
                                    </li>

                                </ul>
-->
                                </div>
                               
                            </div>
                            </div>
                           

                        </div>
            
                          <div class="xxlarge-8 xlarge-24 large-24 medium-24 small-24 columns cluster">
                    
                    <ul class=" xxlarge-block-grid-2 xlarge-block-grid-4 large-block-grid-4 medium-block-grid-2 small-block-grid-2 sport__other-stories">
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://news.bbcimg.co.uk/media/images/79502000/jpg/_79502712_78315996.jpg" alt="">
                                
                                   
<div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                            </div>
                            <h2 class="pica english"><a href="">What's inside your fridge? </a></h2>
                                <p class="english summary">The impact the refrigerator has on our daily lives</p>
                           
                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24  responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/625/media/images/81033000/jpg/_81033291_6ee78a97-df56-4401-a316-ca59ac88e9b3.jpg" alt="">
<div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                            </div>
                            <h2 class="pica english"><a href="">Samba schools </a></h2>
                                 <p class="english summary">Images from around the world: 16 February</p>
                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/80963000/jpg/_80963537_hi025834512.jpg" alt="">
<div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                            </div>
                            <h2 class="pica english"><a href="">World Press Photo</a></h2>
                               <p class="english summary">Picture of a gay couple in Russia wins first prize</p>
                        </li>
                          <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/80585000/jpg/_80585233_80584021.jpg" alt="">
<div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                            </div>
                            <h2 class="pica english"><a href="">City skylines</a></h2>
                               <p class="english summary">Reflections and clouds</p>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
               


</div>
</div>