
             
                <div class="macaw">
                    <div class="row">

                        <div class="more-headlines xxlarge-24 columns">
                            <div class="xxlarge-24 xlarge-12 large-12 columns hide-for-xxlarge-only hide-for-small-only on">

                                <div class="MPU ">
                                    <div class="advertisement-label"><span>ADVERTISEMENT</span>
                                        <img class="" src="images/ads/MPU.jpg" alt="" height="250" width="300" />
                                    </div>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsive-image  hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78863000/jpg/_78863107_de53-1.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">Bid to reopen NI 'torture' case</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">2 hours ago</div>
                                        </li>
                                        <li class="hide-for-small-only"><a href="" class="section-tag">Northern Ireland</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsive-image hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78871000/jpg/_78871606_78871601.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">UK readies child abuse search tool</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">3 hours ago</div>
                                        </li>
                                        <li class="hide-for-small-only"><a href="" class="section-tag">Technology</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsive-image hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78862000/jpg/_78862659_78862658.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">Kenya chiefs replaced after massacre</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">10 minutes ago</div>
                                        </li>
                                        <li class="hide-for-small-only"><a href="" class="section-tag">Africa</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsive-image hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78726000/jpg/_78726980_78726978.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">IS leader's wife held in Lebanon</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">1 hour ago</div>
                                        </li>
                                        <li class="hide-for-small-only"><a href="" class="section-tag">Middle East</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsive-image hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78872000/jpg/_78872743_78871490.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">Concordia captain 'tried to impress'</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">2 hours ago</div>
                                        </li>
                                        <li><a href="" class="section-tag">Europe</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xxlarge-12 xlarge-12 large-12 medium-24 columns alb__item end right">
                                <div class="macaw-item__body">
                                    <div class="xlarge-10 xlarge-8 large-8 medium-8 small-10 columns responsivt6e-image hide-for-large-up on">
                                        <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/78870000/jpg/_78870379_img_20141109_080020612_hdr.jpg" alt="" />

                                    </div>
                                    <h2 class="pica english"><a href="#">Police staff vote to strike over pay</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">3 hours ago</div>
                                        </li>
                                        <li><a href="" class="section-tag">UK</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                