
                <div class="market-data off">

                    <div class="maket-data__container">
                        <div class="markets-subheader">
                            <div class="subheader bourgeois">
                                <a href="">Markets</a> <span class="icon-next-light"></span>
                            </div>
                        </div>
                        <ul class="xxlarge-block-grid-2 xlarge-block-grid-4 large-block-grid-2 medium-block-grid-1 small-block-grid-1">
                            <li>
                                <div class="market-block">
                                    <div class="pica english index-name">FTSE 100</div>
                                    <div class="market-data__status">
                                        <div class="pica english index-value">6,443.12</div>
                                        <div class="color-flag red">
                                            <div class="index-value-icon"><span class="down"></span>
                                            </div>



                                            <div class="market-data__difference pica english right">-0.30%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-block">
                                    <div class="pica english index-name">DOW JONES IA</div>
                                    <div class="market-data__status">
                                        <div class="pica english index-value">15,129.67</div>
                                        <div class="color-flag red">
                                            <div class="index-value-icon"><span class="down"></span>
                                            </div>
                                            <div class="market-data__difference red pica english">-0.84%</div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="market-block">
                                    <div class="pica english index-name">NASDAQ</div>
                                    <div class="market-data__status">
                                        <div class="pica english index-value">8648.36</div>
                                        <div class="color-flag red">
                                            <div class="index-value-icon "><span class="down"></span>
                                            </div>
                                            <div class="market-data__difference pica english">-0.30%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-block">
                                    <div class="pica english index-name">NIKKEI 225</div>
                                    <div class="market-data__status">
                                        <div class="pica english index-value">6,699.27</div>
                                        <div class="color-flag red">
                                            <div class="index-value-icon"><span class="down"></span>
                                            </div>
                                            <div class="market-data__difference pica english">-0.35%</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>


                </div>


                <div class="market-data gel-off">
                    <div class="row">
                        <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 columns ">
                            <table>
                                <caption>
                                    <div class="subheader double-pica-off bourgeois">
                                        <a href="">Markets</a> <span class="icon-next-light"></span>
                                </caption>
                                <tr class="xxlarge-24 xlarge-6 large-6 medium-12 small-24 columns">
                                    <td scope="column" class="pica english index-name"><span class="red icon-arrow-bottom"></span> FTSE 100 </td>
                                    <td scope="column" class="long-primer brilliant index-value">6,443.12</td>
                                    <!--                           <td scope="column"  class="red index-value-icon"><span class="down"></span></td>-->
                                    <td scope="column" class="red long-primer brilliant market-data__difference">-0.30%</td>
                                </tr>
                                <tr class="xxlarge-24 xlarge-6 large-6 medium-12 small-24 columns" scope="row">
                                    <td scope="column" class="pica english index-name"><span class="red icon-arrow-bottom"></span> Dow Jones IA</td>
                                    <td scope="column" class="long-primer brilliant index-value">15,129.67</td>
                                    <!--                           <td scope="column" class="red index-value-icon"><span class="down"></span></td>-->
                                    <td scope="column" class="red long-primer brilliant market-data__difference">-0.84% </td>
                                </tr>
                                <tr class="xxlarge-24 xlarge-6 large-6 medium-12 small-24 columns" scope="row">
                                    <td scope="column" class="pica english index-name"><span class="green icon-arrow-up"></span> NASDAQ</td>
                                    <td scope="column" class="long-primer brilliant index-value">8648.36</td>
                                    <!--                           <td scope="column" class="green index-value-icon"><span class="up"></span></td>-->
                                    <td scope="column" class="green long-primer brilliant market-data__difference">+0.47%</td>
                                </tr>
                                <tr class="xxlarge-24 xlarge-6 large-6 medium-12 small-24 columns " scope="row">
                                    <td scope="column" class="pica english index-name"><span class="green icon-arrow-up"></span> Nikkei 225</td>
                                    <td scope="column" class="long-primer brilliant index-value">6,699.27 </td>
                                    <!--                           <td scope="column"  class="red index-value-icon"><span class="down"></span></td>-->
                                    <td scope="column" class="red long-primer brilliant market-data__difference">-0.35%</td>
                                </tr>
                            </table>
                            <ul class="timestamp">
                                <li class="mini-info-list__item">
                                    <div class="brevier">15 minute delay. Last updated 10:37</div>
                                </li>
                                <li class="refresh great-primer paragon"><span class="icon-refresh"></span>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>