<div class="pigeon" >
    <div class="row">
        <!-- STORY 2 STARTS HERE -->
        <div class="xxlarge-9 xlarge-9 large-9 medium-12 small-24 columns">
            <div class="pigeon__block">
                <div class="link">
                    <div class="responsive-image medium-24 small-10 columns">
                        <img class="" src="http://news.bbcimg.co.uk/media/images/79448000/jpg/_79448881_79442023.jpg" alt="" />
                    </div>
                    <div class="pigeon__text-block ">
                        <h2 class="great-primer emerald"><a href="">Hawking: AI could end human race</a></h2>
                        <p class="long-primer english summary hide-for-medium-only hide-for-small-only">Prof Stephen Hawking, one of the world's leading scientists, warns that artificial intelligence "could spell the end of the human race".</p>


                        <ul class="timestamp brevier">
                            <li class="mini-info-list__item">
                                <div class="date">8 minutes ago</div>
                            </li>
                            <li><a href="" class="section-tag">Technology</a>
                            </li>
                            <li><span class="icon-comment"></span> <span class="comment-count">768</span>
                            </li>
                        </ul>


                    </div>
                </div>

                <ul class="idx-alsos col-1 brilliant brevier">
                    <li><a href=""><span class="icon-play"></span> 'AI could spell end of human race'</a>
                    </li>
                    <li><a href="">Does rampant AI threaten humanity?</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- STORY 3 STARTS HERE -->
        <div class="xxlarge-9 xlarge-9 large-9 medium-12 columns left story-2">


            <div class="pigeon__block" >

                <div class="link">
                    <div class="responsive-image medium-24 small-10 columns">
                        <img class="" src="http://ichef.bbci.co.uk/news/304/media/images/80270000/jpg/_80270522_80270521.jpg" alt="" />
                    </div>
                    <div class="pigeon__text-block">
                        <h2 class="great-primer emerald"><a href=""> Snow and storms sweep across UK</a></h2>
                        <p class="long-primer english summary hide-for-medium-only hide-for-small-only">Travel is disrupted and schools closed after wintry weather sweeps across parts of the UK, with warnings of severe gales to come.</p>
                        <ul class="timestamp brevier">
                            <li class="mini-info-list__item">
                                <div class="date">58 minutes ago</div>
                            </li>
                            <li><a href="" class="section-tag">UK</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="idx-alsos col-1 brilliant brevier">
                    <li><a href=""><span class="icon-play"></span> Weather disruption set to spread</a>
                    </li>
                    <li><a href=""><span class="icon-play"></span> Roads blocked and schools closed</a>
                    </li>
                </ul>


            </div>
        </div>
        <!-- STORIES 4-6 START HERE -->
        <div class="xxlarge-6  xlarge-6 large-6 medium-24 columns" >
            <ul class="xxlarge-block-grid-1 xlarge-block-grid-1 large-block-grid-1 medium-block-grid-1 small-block-grid-1 pigeon__headlines">
                <li>
                    <div class="responsive-image medium-8 small-10 hide-for-xxlarge-only columns hide-for-large-up off">
                        <img class="" src="http://news.bbcimg.co.uk/media/images/78872000/jpg/_78872162_wqhngp7k.jpg" alt="" />
                    </div>
                    <div class="pigeon__headlines-block">
                        <h2 class="great-primer paragon"><a href="">Ebola stigma 'hindering Red Cross'</a></h2>
                        <ul class="timestamp brevier ">
                            <li class="mini-info-list__item">
                                <div class="date">2 hours ago</div>
                            </li>
                            <li><a href="" class="section-tag">Africa</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="responsive-image medium-8 small-10 hide-for-xxlarge-only columns hide-for-large-up off">
                        <img class="" src="http://news.bbcimg.co.uk/media/images/78872000/jpg/_78872162_wqhngp7k.jpg" alt="" />
                    </div>
                    <div class="pigeon__headlines-block">
                        <h2 class="great-primer paragon"><a href="">Child abuse hospital faces claims</a></h2>
                        <ul class="timestamp brevier ">
                            <li class="mini-info-list__item">
                                <div class="date">4 hours ago</div>
                            </li>
                            <li><a href="" class="section-tag">UK</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="responsive-image medium-8 small-10 columns hide-for-large-up off">
                        <img class="" src="http://news.bbcimg.co.uk/media/images/78872000/jpg/_78872162_wqhngp7k.jpg" alt="" />

                    </div>
                    <div class="pigeon__headlines-block">
                        <h2 class="great-primer paragon"><a href="">Union calls for Ofcom probe</a></h2>
                        <ul class="timestamp brevier">
                            <li class="mini-info-list__item">
                                <div class="date">2 hours ago</div>
                            </li>
                            <li><a href="" class="section-tag">UK</a>
                            </li>
                          
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END SORIES 4-6 -->
    </div>
</div>