                <div class="top-story">
                    <div class="row">
                        <div class="xxlarge-24 large-24 columns">
                            <div class="xxlarge-24 xlarge-24 medium-24">
                                <div class="link">
                                    <h1 class="trafalgar canon"><a href="#">
                               HSBC 'helped clients dodge tax'</a>
                           </h1>
                                    <div class="xxlarge-15 xlarge-15 large-15 medium-12 columns responsive-image">
                                        <img src="http://news.bbcimg.co.uk/media/images/80875000/jpg/_80875166_80869258.jpg" alt="" />
                                    </div>
                                    <p class="long-primer english summary">Banking giant HSBC helped wealthy clients across the world evade hundreds of millions of pounds worth of tax, the BBC's Panorama learns.</p>
                                </div>
                                <ul class="timestamp brevier">
                                    <li class="mini-info-list__item">
                                        <div class="date">1 hour ago</div>
                                    </li>
                                    <li><a href="" class="section-tag">Business</a>
                                    </li>
                                </ul>


                                <div class="idx-alsos">
                                    <ul class="brilliant brevier ">

                                        <li><a href="#"> Hero? Thief? Who is Herve Falciani?</a>
                                        </li>
                                        <li><a href="#"><span class="icon-play"></span> HSBC tax scandal</a>
                                        </li>

                                        <li><a href="#"><span class="icon-play"></span> How HSBC 'helped tax evaders'</a>
                                        </li>
                                        <li><a href="#">HSBC tax claim sparks political row</a>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                