


<!--START NAVIGATION -->
    <div class="site-brand site-brand--height" role="banner">
        <div class="site-brand-inner site-brand-inner--height">
            <div class="container-nav">
                <div class="row">
                    <div class="xxlarge-24 columns">
                        <nav class="navigation navigation--primary">
                            <a class="turn-gel-font-size" id="brand">
                                <img class="brand__logo" src="images/news.png" alt="BBC News">
                            </a>
                    </div>
                </div>
                </nav>
            </div>
        </div>
        <div class="navigation navigation--wide gel-off">
            <div class="row">
                <div class="xxlarge-24">
                    <ul class="navigation-wide-list long-primer english " role="navigation">
                       
                       <li class="primary-nav__item--all-news" > <a href="" class="primary-nav__link">  <span  class="ico ico-burger primary-nav__item-icon"></span><span class="primary-nav__link-text">All News</span> </a> </li>
                       
                        <li class="selected">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Home</span>
                            </a>
                            <span class="off-screen">selected</span>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link navigation-arrow--open">
                                <span>UK</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>World</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="business.html" class="navigation-wide-list__link">
                                <span>Business</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Politics</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Tech</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="science.html" class="navigation-wide-list__link">
                                <span>Science</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Health</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Education</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="entertainment.html" class="navigation-wide-list__link">
                                <span>Entertainment &amp; Arts</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Video &amp; Audio</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Magazine</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link">
                                <span>In Pictures</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Also in the News</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Special Reports</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link">
                                <span>Explainers</span>
                            </a>
                        </li>
                        <li class=" invisible">
                            <a href="#" class="navigation-wide-list__link navigation-wide-list__link--last">
                                <span>The Reporters</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-panel navigation-panel--wide navigation-panel--closed js-navigation-panel-primary">
            <div class="navigation-panel__content">
                <div class="navigation-panel__inner">
                    <ul class="navigation-panel-toplevel navigation-panel-toplevel--columnised-4">
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>Magazine</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>In Pictures</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navigation-panel-toplevel navigation-panel-toplevel--columnised-4">
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>Also in the News</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>Special Reports</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navigation-panel-toplevel navigation-panel-toplevel--columnised-4">
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>Explainers</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#" class="navigation-panel-toplevel__link">
                                <span>The Reporters</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--END NAVIGATION -->