
        <div class="digest-inator verticals">
            <div class="row">
                <div class="xxlarge-24 columns">

                    <div class="row">
                        <div class="xxlarge-24 columns">
                            <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3 xlarge-block-grid-3 xxlarge-block-grid-3">
                                <li>
                                    <div class="block" >
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/deltaorigin.bbc.co.uk/images/live/p0/2j/7j/p02j7jvx.jpg" alt="" />
                                        </div>
                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Autos</h2>


                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Land Rover's brave new world</a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--                                    <h2 class="pica english section-tag">Business <span class="icon-next-light"></span></h2>-->
                                    </div>

                                </li>
                                <li>
                                    <div class="block" >
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/deltaorigin.bbc.co.uk/images/live/p0/2j/9h/p02j9h7f.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Capital</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">Secret posts, public fallout? </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                  <h2 class="pica english section-tag">Politics <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/deltaorigin.bbc.co.uk/images/live/p0/2j/l4/p02jl4xc.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Culture</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3> <a href="">Capturing Edward Snowden</a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag">Health <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block" >
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/340/deltaorigin.bbc.co.uk/images/live/p0/2j/f1/p02jf1w2.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Future</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">A fake city for futuristic cars</a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                               <h2 class="pica english section-tag">Education <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/deltaorigin.bbc.co.uk/images/live/p0/2j/fj/p02jfjpd.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Earth</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href=""><span class="icon-play"></span> Weird giant fish reveals secrets</a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                <h2 class="pica english section-tag">Technology <span class="icon-next-light"></span></h2>-->
                                </li>
                                <li data-equalizer>
                                    <div class="block" >
                                        <div class="responsive-image">
                                            <img src="http://ichef.bbci.co.uk/news/624/deltaorigin.bbc.co.uk/images/live/p0/2d/75/p02d75ys.jpg" alt="" />
                                        </div>

                                        <div class="digest-inator__item-body">
                                            <h2 class="pica english section-tag">BBC Travel</h2>
                                            <ul class="pica english">
                                                <li>
                                                    <h3><a href="">A hope for happiness in Porto </a></h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                              <h2 class="pica english section-tag">Sci/Environment <span class="icon-next-light"></span></h2>-->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>