
/* --------- TYPOGRAPHY NOT USED ----------- */





.HYPE_scene .story-body .byline .bbc-role {
	font-size: 16px;
	line-height: 18px;
	color:yellow;
	background-color:red;
	display:block;
	}

.HYPE_scene .ad-image .label-advertisement {
font-size: 10px;
}

	
/* --------- TYPOGRAPHY ----------- */

.HYPE_scene span.main-nav{ 
	font-size:18px;
	line-height:22px;
}
 
.HYPE_scene .ads .group__title, .HYPE_scene .collection .unit__title{
	font-size: 16px;  /* - HINDI - TABLET 16/22 - DESKTOP 16/22*/  /* - PULLOUT TABLET 16/20 - DESKTOP 16/20 */
	line-height: 22px;
	}	
	
.HYPE_scene .follow-us__social-link-label, .HYPE_scene .story-body .pullout p, .HYPE_scene .pullout, .HYPE_scene  aside.quote{
	font-size: 15px; /* - PULLOUT TABLET 15/20 - DESKTOP 14/20 */
	line-height: 20px;
	}

.HYPE_scene span.audioVisual{
font-size:16px;
line-height:32px;
}

.HYPE_scene span.audioVisualicon .gelicon--audio{
font-size:24px;
}
.HYPE_scene span.audioVisualicon .gelicon--video{
font-size:18px;
}
	
.HYPE_scene .hard-news-unit__headline .most-read-social-headline, .HYPE_scene span.most-read-social, .HYPE_scene .more-on-this-story .unit__title, .HYPE_scene .story-body .introduction, .HYPE_scene .features-and-analysis__caption, .HYPE_scene .stories-group a.hard-news-unit .hard-news-unit__headline, .HYPE_scene .navigation-panel-toplevel>li>a>span, .HYPE_scene .great-primer, .HYPE_scene .page-title, .HYPE_scene .region-selector__body .region-selector__region-container .region-selector__region .region__index-overview .region__index-overview-highlight .region__index-name, .HYPE_scene .index-selector__body .index-selector__market-name, .HYPE_scene .index-data__body .index-data__name, .HYPE_scene  .index-data__body .index-data__value,.HYPE_scene .index-title, .election-logo-title__area, .HYPE_scene .story-body p, .HYPE_scene .pica, .HYPE_scene .weather-location__current, .HYPE_scene .weather-location__list-item, .HYPE_scene .travel-unit__title, .HYPE_scene .sport-stories__headline-story-headline, .HYPE_scene .sport-teams-unit__title, .HYPE_scene .from-other-news-sites-list-item__title, .HYPE_scene .visual-promo-label__title, .HYPE_scene .visual-promo-content__title, .HYPE_scene .radio-promo-unit__programme, .HYPE_scene .programme-promo-headline, .HYPE_scene .correspondent-promo__headline, .HYPE_scene .correspondent-promo__name, .HYPE_scene .correspondent-promo__role, .HYPE_scene .blog__story .unit__summary p, .HYPE_scene .listen-links__unit, .HYPE_scene .navigation__section, .navigation--narrow, .HYPE_scene .navigation--bottom, .HYPE_scene .navigation-panel--wide, .HYPE_scene .index-selector__body h2, .HYPE_scene .index-selector__body .index-selector__index, .HYPE_scene .council-control-history__heading, .HYPE_scene .council-list__title .council-list__title-sub, .HYPE_scene .council-background__title, .HYPE_scene .council-result-flash, .HYPE_scene .council-responsibilities__title, .HYPE_scene .council-more-button__button, .HYPE_scene .update__body p, .HYPE_scene .update__body li, .HYPE_scene .update--article .update__body {
	font-size: 18px; /* - HINDI - TABLET 18/26 - DESKTOP */  /* - Article body text, strong links & index titles TABLET 18/24 - DESKTOP 16/22 */
	line-height: 26px;
	}

.HYPE_scene .HINDI-ENG .units-list-long-premiere .unit a.unit__link-wrapper .unit__body .unit__header h3.unit__title{
	font-size: 18px; /* - HINDI - TABLET 18/26 - DESKTOP */  /* - Article body text, strong links & index titles TABLET 18/24 - DESKTOP 16/22 */
	line-height: 24px;
}


	
.HYPE_scene .navpanel-column-2 .navigation-panel-toplevel>li>a>span, .HYPE_scene .radio-promotion-list-item, .HYPE_scene span.audioVisualdescription, .HYPE_scene .ads .description .URL, .HYPE_scene .ads .description p, .HYPE_scene .share__title a, .HYPE_scene .img-label-gallery, .HYPE_scene .story-body .img-label, .HYPE_scene .image-title, .HYPE_scene .most-popular__panels .hard-news-unit__body p.summary, .HYPE_scene .story-inner .img-label, .HYPE_scene .more-index-unit__title, .HYPE_scene .story-body .heading, .HYPE_scene .socialnetwork .stories-group a.hard-news-unit .hard-news-unit__headline, .HYPE_scene .collection .unit__summary, .HYPE_scene .stories-group.learn-english a.hard-news-unit .hard-news-unit__headline, .HYPE_scene .video-title, .HYPE_scene .img-label .img-label-gallery, .HYPE_scene ul .hard-news-unit__body h3, .HYPE_scene .most-popular-list-item__headline, .HYPE_scene p.long-primer, .HYPE_scene p.hard-news-unit__summary, .HYPE_scene .features-and-analysis__summary, .HYPE_scene  .locator-stories-placeholder+.weather-location .weather-location__current, .HYPE_scene .forecast-daily__time, .forecast-hourly__time, .forecast-hourly .weather-temperature, .HYPE_scene .rolling-news__story__headline, .HYPE_scene  .travel-unit__summary, .HYPE_scene  .sport-stories .tabs-list li a, .sport-teams-unit__list-item-link, .from-other-news-sites-list-item__source, .HYPE_scene  .visual-promo-label__summary, .HYPE_scene  .visual-promo-content__summary, .HYPE_scene  .programme-promo-summary, .HYPE_scene  .most-popular__header__tabs li a, .watch-listen-unit__title, .channel-page-promo__link, .navigation--wide, .secondary-navigation--wide, .region-selector__body .region-selector__region-container .region-selector__region .region__region-link .region__region-name, .index-selector__body .index-selector__index, .index-data__body td, .index-data__body th, .election-menu__current, .election-menu-list__item, .election-results__editorial-text, .election-results__table, .election-related-links-item__link, .politics-topic-header__type, .politics-topic-info__text, .council-responsibilities-list__item {
	font-size: 16px;  /* - HINDI - TABLET 16/24 - DESKTOP */         /* - Synoptical index text & image captions TABLET 16/22 - DESKTOP 14/18 */
	line-height: 24px;
	}

.hard-news-unit--lead .hard-news-unit__headline, .HYPE_scene .story-body h1, .trafalgar, .hard-news-unit--lead .hard-news-unit__headline, .region-selector__body .region-selector__intro .region-selector__page-title, .election-logo__topic .election-logo-title {
	font-size: 34px;  /* - HINDI - TABLET 34/50 - DESKTOP */       /* - ARTICLE TITLE TABLET 36/40 - DESKTOP 32/32*/  
	line-height: 50px;
	}

.HYPE_scene span.radio-promotion-list__programme-duration{
	font-size: 14px;/* - HINDI - TABLET 14/20 - DESKTOP */       /* - Time stamp and bylines TABLET 14/16 - DESKTOP 13/16 */
	line-height: 24px;
}
 .HYPE_scene span.s-b-panel .s-b-read-more, .HYPE_scene .img-label, .HYPE_scene .share__back-to-top span, .HYPE_scene .highlight .relative-time, .HYPE_scene .component--highlight .relative-time, .HYPE_scene .more-index .date--v1.relative-time, .HYPE_scene .unit__meta, .HYPE_scene .story-body .cap, .HYPE_scene .story-body footer, .HYPE_scene div .date--v2, .HYPE_scene .hard-news-unit-meta__section, .HYPE_scene .img-label-gallery-description, .HYPE_scene .brevier, .HYPE_scene .rolling-news__story__timestamp, .HYPE_scene .rolling-news__story__body__content, .HYPE_scene .from-other-news-sites__about, .HYPE_scene .radio-promo-unit__title--next, .HYPE_scene .radio-promo-unit__time, .HYPE_scene .region-selector__body .region-selector__intro .region-selector__updated-summary {
	font-size: 14px;/* - HINDI - TABLET 14/20 - DESKTOP */       /* - Time stamp and bylines TABLET 14/16 - DESKTOP 13/16 */
	line-height: 20px;
	}
		
.HYPE_scene .navigation-panel__content .navpanel-column-2 .stories-group h2.group-title a.group-title__link, .HYPE_scene #learning-english-stories a.hard-news-unit .hard-news-unit__headline, .HYPE_scene span.s-b-panel p, .HYPE_scene  .story-body .crosshead, .HYPE_scene .story-body .pullout .heading, .HYPE_scene .story-body .crosshead, .HYPE_scene .component__title, .HYPE_scene .share__title, .stories-group-inline .great-primer, .HYPE_scene .hard-news-unit--regular .hard-news-unit__headline, .stories-group-inline .page-title, .stories-group-inline .region-selector__body .region-selector__region-container .region-selector__region .region__index-overview .region__index-overview-highlight .region__index-name, .stories-group-inline .index-selector__body .index-selector__market-name, .stories-group-inline .index-data__body .index-data__name, .stories-group-inline .index-data__body .index-data__value, .stories-group-inline .index-title, .stories-group-inline .election-logo-title__area {
    font-size: 22px; /* - HINDI - TABLET 22/32 - DESKTOP */   /* - STRONG HEADLINE TABLET 24/28 - DESKTOP 20/20 */
    line-height: 32px;    
	}
	
	

	
.HYPE_scene .radio-promotion h2.group-title, .HYPE_scene .rolling-news h2.group-title, .HYPE_scene .features-and-analysis__title, .HYPE_scene .stories-group h2.group-title a.group-title__link, .HYPE_scene .component-title, .HYPE_scene .group__title, .HYPE_scene .g-container h2.title, .HYPE_scene .most-popular__title, .HYPE_scene .features-and-analysis__title, .HYPE_scene  .double-pica, .HYPE_scene .follow-us__title, .HYPE_scene .local-weather__title, .HYPE_scene .from-other-news-sites__title, .HYPE_scene .visual-promo__header, .HYPE_scene .radio-promo__title, .HYPE_scene .most-popular__title, .HYPE_scene .local-live__title-text, .HYPE_scene .blog__story .unit__title .cta, .HYPE_scene .watch-listen__title, .HYPE_scene .election-results__heading, .HYPE_scene .council-list__title {
	font-size: 28px; /* - HINDI - TABLET 28/40 - DESKTOP */      /* - SUB HEADER TABLET 28/32 - DESKTOP 24/24 */
	line-height: 40px;
	font-weight:normal;
	}

.HYPE_scene .navigation-panel__content .stories-group h2.group-title a.group-title__link, .HYPE_scene .navigation-panel__content h2.group-title, .HYPE_scene .stories-group.HINDI-ENG h2.group-title a.group-title__link{
	font-size: 28px; /* - HINDI - TABLET 28/40 - DESKTOP */      /* - SUB HEADER TABLET 28/32 - DESKTOP 24/24 */
	line-height: 32px;
	font-weight:normal;

}

		
.HYPE_scene .story-body blockquote {
	font-size: 22px; /* - HINDI - TABLET 22/32 - DESKTOP */  /* - Most Popular Rank number TABLET 24/32 - DESKTOP 20/24 - */
	line-height: 32px;
	}

.HYPE_scene .most-popular-list-item__rank {
	font-size: 28px; /* - Most Popular Rank number TABLET 28/28 - DESKTOP 24/24 */
	line-height: 28px;
	}
		
.HYPE_scene ul .stories-group .hard-news-unit__body h3, .HYPE_scene h3.features-and-analysis__caption, HYPE_scene #comp-most-popular .stories-group-inline .hard-news-unit--regular .hard-news-unit__headline, .HYPE_scene .units-list.entertainment a .cta, .HYPE_scene span.s-b-panel .s-b-p-networks li a, .HYPE_scene .units-list-long-premiere .unit a.unit__link-wrapper .unit__body .unit__header h3.unit__title{
	font-size: 18px;  /* - HINDI - TABLET 16/24 - DESKTOP 16/22*/  /* - Article body text, strong links & index titles TABLET 18/22 - DESKTOP 16/20 */
	line-height: 26px;
	}
	
/*---------SHARE TYPOGRAPHY---------------*/	
	
	
.HYPE_scene .desktop .share__tools--lightweight .share__tool--bbcsharetool a.btn-share span{
	font-size: 12px; /* DONT CHANGE THIS NUMBER DESKTOP ADD TABLET CLASS TO SHARE BUTTON-*/
	line-height: 34px;
	}	
	
 .HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a.btn-share span{
	font-size: 16px; /* DONT CHANGE THIS NUMBER DESKTOP ADD DESKTOP CLASS TO SHARE BUTTON-*/
	line-height: 42px;
	}



 .HYPE_scene .share__tools--lightweight .share__tool--bbcsharetool a span{
 font-size: 16px;
 }	

.HYPE_scene .stories-group-inline .hard-news-unit--regular .hard-news-unit__image {
		min-height:120px;
	}
.HYPE_scene .socialnetwork .stories-group-inline .hard-news-unit--regular .hard-news-unit__image {
min-height: 44px;
}

.HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a.btn-share span{
	color: #FFF !important;
	text-indent: 0px;
	left: 18px;
	}
	
.HYPE_scene .tablet .share__tool.share__tool--bbcsharetool{
	margin-right: 0px;
	width: 198px;
	}	
	
	
.HYPE_scene .tablet .share__tool a.btn-share {
	height: 40px;
	padding-left: 140px;
	}

	.HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a.btn-share {
background-position: -34px -974px;
}

.HYPE_scene .hard-news-unit-meta {
		margin-top: 6px !important;		
		}
.HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a:hover.btn-share, .HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a:active.btn-share {
background-position: -34px -1031px;
background-color: #6BBC45;
}

.HYPE_scene .tablet .share__tools--lightweight .share__tool--bbcsharetool a span {
font-size: 16px;
line-height: 28px;
}

.HYPE_scene .s-b-panel .s-b-p-networks li a {
padding: 8px 16px 3px 0px;
}

 .HYPE_scene span.audioVisual > span {
	 	min-width: 80px;
	 	display: block;
	 	}
	