/*--  Main Navigation Find your Location Button --*/

.HYPE_scene .find-local-wide {
color: #FFF;
display: block;
float: right;
font-size: 16px;
line-height: 1.68421;
margin-right: 8px;
margin-top: 13px;
}

.HYPE_scene .find-local-wide__link {
cursor: pointer;
height: 32px;
padding-left: 12px;
padding-right: 30px;
}

.HYPE_scene .find-local-wide__location, .find-local-wide__link {
display: inline-block;
vertical-align: middle;
}

.HYPE_scene .find-local-wide__link {
border: 1px solid #FFF;
border-color: rgba(255, 255, 255, 0.3);
}


 button {

overflow: visible;
width: auto;
	border: 0;
color: inherit;
font: inherit;
font-size: 100%;
font-weight: inherit;
letter-spacing: inherit;
line-height: inherit;
margin: 0;
padding: 0;
vertical-align: baseline;
	   }
	   
	   
.HYPE_scene button.find-local-wide__link.find-local-wide__link--icon-only {
padding-left: 1px;
text-indent: -5000px;
white-space: nowrap;
}

.HYPE_scene .find-local-wide__location+.find-local-wide__link {
margin-left: 12px;
}

html .HYPE_scene a.find-local-wide__location:hover, .HYPE_scene .find-local-wide__location:hover,.HYPE_scene .find-local-wide__location:focus,.HYPE_scene .find-local-wide__link:hover,.HYPE_scene .find-local-wide__link:focus {
text-decoration: underline !important;
color: #FFF;
}

.HYPE_scene a.find-local-wide__location {
color: #FFF;
}

.HYPE_scene .follow-us__social-links a:hover {
background-color: #CC0101;
color: #FFF;
}

.HYPE_scene .follow-us__social-links a:hover .follow-us__social-link-label {
color: #FFF;
}

.HYPE_scene .subscribe .follow-us__social-links li a:hover {
border-bottom: 0px;
}

.HYPE_scene .most-popular-btn{
	margin: 0 24px;
}



.HYPE_scene .left-arrow-carousel.video a, .HYPE_scene .right-arrow-carousel.video a{
background: rgba(203, 0, 0, 0.8);
padding: 12px 15px 9px 15px;
font-size: 22px;
color: #FFF;
display: block;
margin-bottom: 0px;
margin-left: 0px;
}

.HYPE_scene .right-arrow-carousel.video.inactive a:active,.HYPE_scene .left-arrow-carousel.video.inactive a:active, .left-arrow-carousel.video.inactive a, .left-arrow-carousel.video.inactive a:hover, .right-arrow-carousel.video.inactive a:hover, .right-arrow-carousel.video.inactive a{
	background: rgba(203, 0, 0, 0.5);
color: rgba(255, 255, 255, 0.5);
cursor: default;
}

.HYPE_scene .left-arrow-carousel.video a:active, .HYPE_scene .right-arrow-carousel.video a:active  {
color: #FFF;
background: #A00404;
}



.right-arrow-carousel.video a:hover, .left-arrow-carousel.video a:hover{ 
	background: #F00;
	color: #fff;
}

.buttons-container.video{position:relative; top:50px}
.buttons-container.picture{position:relative; top:71px;}
.buttons-container.picture_international{position:relative; top:91px;}


button.video {
background: rgba(0, 0, 0, 0);
margin-left: -1px;
}

.HYPE_scene .iplayer-gradient, .HYPE_scene .iplayer-gradient-front {
display: none;
position: absolute;
z-index: 100;
width: 100%;
top: 0;
bottom: 0;
filter: none;
/* background: rgba(255, 255, 255, 0.6); */
/* background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJo…iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+'); */
/* background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); */
/* background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); */
/* background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); */
/* background-image: -ms-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); */
/* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), #FFF); */
}

.HYPE_scene .iplayer-gradient-right {

position: absolute;
z-index: 100;
width: 100%;
top: 0;
bottom: 0;
filter: none;
/* background: rgba(255, 255, 255, 0.6); */
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJo…iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); 
background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); 
background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); 
background-image: -ms-linear-gradient(to right, rgba(255, 255, 255, 0.85), #fff); 
background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), #FFF); 
}

.HYPE_scene .iplayer-gradient-left, .HYPE_scene .iplayer-gradient-front-left {

position: absolute;
z-index: 100;
width: 178px;
top: 0;
bottom: 0;
filter: none;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJoâ€¦iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.85), #fff);
background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0.85), #fff);
background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0.85), #fff);
background-image: -ms-linear-gradient(to left, rgba(255, 255, 255, 0.85), #fff);
background-image: linear-gradient(to left, rgba(255, 255, 255, 0.85), #fff);
}


.watch-listen-cta:hover span.audioVisualicon, .watch-listen-cta:hover span.audioVisual {
background: #F00;
cursor: pointer;
}

.HYPE_scene .watch-listen-cta:hover a, .HYPE_scene .watch-listen-cta:hover .audioVisualdescription{
	color: #1167A8;
	cursor: pointer;
}