.HYPE_scene {
-webkit-font-smoothing:inherit !important;
}

.HYPE_scene .ctm .navigation--wide, .HYPE_scene .ctm .secondary-navigation--wide {
    visibility: visible;
    display: block;
}

.HYPE_scene .navigation--wide {
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3) #FFF #FFF;
    position: relative;
	background-color: #cb0000;
}

.HYPE_scene .navigation-wide-list {
    background-color: #CC0101;
    height: 40px;
    margin: auto;
    max-width: 911px;
    overflow: hidden;
    padding-right: 81px;
    position: relative;
}

.HYPE_scene .navigation--narrow > ul, .HYPE_scene .navigation--bottom > ul, .HYPE_scene .secondary-navigation--narrow .secondary-navigation-narrow-list > ul, .HYPE_scene .navigation-panel-toplevel, .HYPE_scene .navigation-wide-list {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

.HYPE_scene .navigation-wide-list > li, .HYPE_scene  .navigation-wide-list--secondary ul > li {
    float: left;
}

.HYPE_scene .navigation--wide .navigation-wide-list li:first-child .navigation-wide-list__link {
    padding-left: 8px;
    
}

.HYPE_scene .navigation-wide-list .selected .navigation-wide-list__link, .HYPE_scene .navigation-wide-list .selected.secondary-navigation__title, .HYPE_scene .navigation-wide-list .selected.navigation__more-button-container, .HYPE_scene .navigation-wide-list .navigation-wide-list__link:hover, .HYPE_scene .navigation-wide-list .navigation-wide-list__link:focus {
    border-bottom: 4px solid #FFF;
}

.HYPE_scene  .navigation-wide-list__link, .HYPE_scene .navigation__more-button {
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0px 8px 12px;
    text-decoration: none;
}


.HYPE_scene .navigation-wide-list--secondary  {
    padding-bottom: 2px;

}

.HYPE_scene .navigation-wide-list__link > span {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    padding-right: 12px;
}

.HYPE_scene .off-screen, .HYPE_scene .index-title--redundant, .HYPE_scene .index-title--front-page, .HYPE_scene .election-live-banner-slot__item--hide, .HYPE_scene .scot-ref-header-dropdown-explore__button span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0px !important;
    border: 0px none !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.HYPE_scene .invisible {
    visibility: hidden !important;
}

.HYPE_scene .navigation__more-button-container {
    position: absolute;
    top: 0px;
    left: 868px;
}

.HYPE_scene .navigation__more-button {
background: none;
border:none;
}

.HYPE_scene .navigation__more-button {
padding-top: 10px;
padding-right: 20px;
padding-left: 12px;
margin-left: -1px;
}

.HYPE_scene  .ctm .navigation-arrow {
position: relative;
}

.HYPE_scene  .no-touch .navigation__more-button:hover, .HYPE_scene  .navigation__more-button.navigation__more-button--highlight {
background-color: #000;
border-bottom: 4px solid #000;
margin-left: -1px;
padding-left: 13px;
}



.HYPE_scene button {
width: auto;
overflow: visible;
}

.HYPE_scene .navigation__more-button:hover, .HYPE_scene .no-touch .navigation__more-button:hover,.HYPE_scene .navigation__more-button.navigation__more-button--highlight {
background-color: #000;
border-bottom: 4px solid #000;
margin-left: -1px;
padding-left: 12px;
}

.HYPE_scene .closed, .HYPE_scene .navigation-panel.navigation-panel--closed {
display: none;
visibility: hidden;
}

button.navigation__more-button.navigation-arrow.active {
background-color: #000;
padding-bottom: 12px;
margin-left: -1px;
}

.HYPE_scene ul.navigation-wide-list {
margin: 0 auto;
}

.HYPE_scene .navigation-panel-toplevel {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
float: left;
overflow: hidden;
padding: 1em 0;
}



.HYPE_scene .ctm .navigation--wide, .HYPE_scene .ctm .secondary-navigation--wide {
display: block;
visibility: visible;
}

.HYPE_scene .navigation-wide-list--secondary {
background-color: rgba(0, 0, 0, 0);
line-height: 20px;
}

.HYPE_scene .secondary-navigation--wide .secondary-navigation__title {
padding-left: 8px;
}

.HYPE_scene a.secondary-navigation__title.navigation-wide-list__link span {
border-right: 0;
}

.HYPE_scene .navigation-wide-list__link span, .HYPE_scene .navigation__more-button span {
font-size: inherit;
line-height: inherit;
}



.HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link, .HYPE_scene  navigation-wide-list--secondary .navigation__more-button {
color: #000;
padding-top: 10px;
}
.HYPE_scene .navigation-wide-list--secondary .selected .navigation-wide-list__link, .HYPE_scene .navigation-wide-list--secondary .selected.secondary-navigation__title, .HYPE_scene .navigation-wide-list--secondary .selected.navigation__more-button-container, .HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link:hover, .HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link:focus {
border-bottom: 4px solid #CC0101;
}

.HYPE_scene .secondary-navigation__title {
display: block;
visibility: visible;
}

.HYPE_scene .secondary-navigation__title {
float: left;
font-weight: 400;
}

.HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link--first span {
border-left: 1px solid #DCDCDC;
padding-left: 12px;
}

.HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link>span {
border-right: 1px solid #DCDCDC;
}
.HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link--first {
padding-left: 0;
}

.HYPE_scene  nav.navigation-wide-list.navigation-wide-list--secondary {
margin-left: 17px;
}

.HYPE_scene .navigation-wide-list--secondary .navigation-wide-list__link, .navigation-wide-list--secondary .navigation__more-button {
color: #000;
padding-top: 10px;
}

.HYPE_scene .navigation-wide-list--secondary .navigation__more-button.navigation-arrow:after {
border-left: 4px solid rgba(0, 0, 0, 0);
border-right: 4px solid rgba(0, 0, 0, 0);
border-top: 4px solid #000;
content: '';
height: 0;
position: relative;
right: -6px;
top: 11px;
width: 0;
}

.HYPE_scene a.secondary-navigation__title.navigation-wide-list__link, .HYPE_scene .navigation-wide-list--secondary .selected.secondary-navigation__title {
color: #404040;
}

.HYPE_scene  .navigation-wide-list--secondary .navigation-wide-list__link--last>span {
border-right: none;
}