
.HYPE_scene span.audioVisual{
color: #fff;
background-color: #cb0000;
display:inline-block;
font-weight:bold;
padding: 0 10px;
}



.HYPE_scene span.audioVisualicon	{
display: block;
float: left;
line-height: 30px;
margin-right: 1px;
text-align: center;
background-color:#cb0000;
color:#fff;
}
.HYPE_scene span.audioVisualdescription{
vertical-align: middle;
margin-left:6px;
}

/* Programmes on Demand */
.HYPE_scene .radio-promotion {
padding: 0;
margin-bottom: 24px;
display:inline-block;
padding: 8px 24px 0 24px;
}


.HYPE_scene .column--secondary>.radio-promotion:first-child {
margin-top: 0;
}

.HYPE_scene .radio-promotion-list-item {
width: 100%;
}
.HYPE_scene .radio-promotion-list__link {
border-right: none;
border-left: none;
}
.HYPE_scene .radio-promotion-list__link {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
background-color: #FFF;
display: block;
padding: 8px 0px 8px 0px;
line-height: 22px;
}

.HYPE_scene .radio-promotion-list-item:first-child {
border-top: 1px solid #EDEDED;
}

.HYPE_scene .radio-promotion-list .icon {
overflow: hidden;
padding: 0;
}

.HYPE_scene .radio-promotion .icon {
float: left;
line-height: 16px;
margin-right: 8px;
position: relative;
top: 3px;
}

 .HYPE_scene .radio-promotion a:hover .icon, .HYPE_scene .radio-promotion a, .HYPE_scene .radio-promotion a:hover{
color:#000;
opacity: 1;
}

.HYPE_scene .radio-promotion-list__programme-duration {
padding-right: 0px;
color: #777677;
}

.HYPE_scene .radio-promotion-list__programme-duration {
float: right;
font-weight: normal;
display: inline-block;
padding: 14px 0px 7px 0px;

}

.HYPE_scene .radio-promotion-list-item {
float: left;
display: inline;
}

.HYPE_scene .radio-promotion-list-item+.radio-promotion-list-item {
border-top: 1px solid #EDEDED;
}



.HYPE_scene .subheading a.radio-promotion-list__link {
background-color: #F2F2F2;
margin-left: 8px;
padding-bottom: 9px;
font-size: 18px;
line-height: 24px;
font-weight: bold;
}

.HYPE_scene .subheading{
	margin-bottom: 8px;
}
.HYPE_scene .subheading .radio-promotion-list-item {
width:100%; border-top: 0px; background-color:#f2f2f2; margin-left:-8px; padding-right:8px;}

.HYPE_scene ul.radio-promotion-list.items{ float:left; width:48%;padding-bottom: 8px;
padding-top: 4px;}



.HYPE_scene .radio-promotion-list-item a.radio-promotion-list__link {
width: 83%;
display: inline-block;
}

.HYPE_scene .icon-podcast {
font-size: 28px;
bottom: -5.4px;
padding-right: 2px;
line-height: 12px;
position: relative;
}

.HYPE_scene .radio-promotion .col1{
	margin-right: 8px;
	box-sizing: border-box;
	
}

.HYPE_scene .radio-promotion .col2{
	margin-left: 8px;
	box-sizing: border-box;
	
}

.radio-promotion-list-item span.icon-sound{
	bottom: 2px;
}