 <div class="xxlarge-24 xlarge-24 large-24 medium-24 columns">
                        <div class="row">
                            <div class="slice-1 elsewhere">
                                 <div class="xxlarge-24 xlarge-12 large-12 medium-24 small-24 columns link">
                                <div class="subheader double-pica bourgeois"><a href="">Elsewhere on the BBC</a></div>
                                </div>
                            
                                   <div class="elsewhere_group">
                                    <div class="xxlarge-24 xlarge-12 large-12 medium-24 small-24 columns link">
                                        <div class="xxlarge-10 xlarge-10 large-10 medium-10 small-10 responsive-image columns ">
                                            <img class="" src="http://news.bbcimg.co.uk/media/images/80752000/jpg/_80752589_churchill_speech_option2_336x189.jpg" alt="" />
                                        </div>
                                        <h2 class="great-primer emerald"><a href="">Churchill's 'roar'</a></h2>
                                        <p class="long-primer english summary ">Did Winston's words really win the war?
                                        </p>
                                    </div>
                                    
                                     <div class="xxlarge-24 xlarge-12 large-12 medium-24 small-24 columns link">
                                        <div class="xxlarge-10 xlarge-10 large-10 medium-10 small-10 responsive-image columns ">
                                            <img class="" src="http://news.bbcimg.co.uk/media/images/81592000/jpg/_81592102_81592099.jpg" alt="" />
                                        </div>
                                        <h2 class="great-primer emerald"><a href="">Legendary games</a></h2>
                                        <p class="long-primer english summary ">17 classic British games - how many have you played?
                                        </p></div></div>
                            </div>
                        </div>
                    </div>