  
                <div class="features on">
                    <a name="features"></a>
                    <div class="subheader bourgeois"><a href="">Features</a>
                    </div>
                    <div class="row" data-equalizer>
                        <div class="xxlarge-7 xlarge-7 large-24 medium-24 small-24 columns ">
                            <div class="features_item item_1 link" data-equalizer-watch>
                                <div class="responsive-image columns xxlarge-24 xlarge-24 large-24 medium-24 small-24">
                                    <img src="http://ichef.bbci.co.uk/news/624/media/images/80760000/jpg/_80760596_462420792.jpg" alt="">

                                    <div class="overlay-icon">
                                        <span class="icon-play"></span>
                                    </div>
                                    <div class="video-duration brevier"><span class="duration">1:40</span>
                                    </div>

                                </div>
                                <div class="features__text-block">
                                    <h2 class="pica english "><a href=""> Hunted down as they fled</a></h2>
                                    <p class=" english  summary">What happened when Boko Haram attacked Baga?</p>
                                </div>
                            </div>
                        </div>
                        <div class="xxlarge-10 xlarge-10 large-24 medium-24 small-24 columns ">
                            <div class="features_item item_2 link" data-equalizer-watch>
                                <div class="responsive-image     columns xxlarge-24 xlarge-24 large-8 medium-8 small-10 ">
                                    <img src=" http://ichef.bbci.co.uk/news/235/media/images/80748000/jpg/_80748867_80747893.jpg" alt="">
                                </div>
                                <div class="features__text-block">
                                    <h2 class="pica english"><a href=""> In pictures</a></h2>

                                    <p class=" english  summary">Parts of UK wake up to blanket of snow</p>
                                </div>
                                <!--
                                 <div class="byline">
                        <div class="hide-for-small-only hide-for-medium-only hide-for-large-only responsive-image circle-48">
                           <img src="images/byline_square_trans/robertpeston.png" alt="" />
                        </div>
                       
                        <div class="brevier brilliant byline__name-and-title">
                           <a href="#" class="byline__name-link"><span class="byline__name">Robert Preston </span></a>
                           <span class="byline__title">Economics editor</span>
                        </div>
                        
                     </div>
-->
                            </div>
                        </div>
                        <div class="xxlarge-7 xlarge-7 large-24 medium-24 small-24 columns">
                            <div class="features_item item_3 link" data-equalizer-watch>
                                <div class="responsive-image columns xxlarge-24 xlarge-24 large-8 medium-8 small-10 on">
                                    <img src="http://ichef.bbci.co.uk/news/624/media/images/80741000/jpg/_80741840_4d510091-9aab-4e50-8b74-b9eb5014c120.jpg" alt="">
                                </div>
                                <div class="features__text-block">

                                    <!--
                                    <div class="popular-features">
                                        <h2 class="pica english"><a href="">Popular Features</a></h2>
                                        <ul>
                                            <li class="popular-features_item"> You v Ronaldo</li>
                                            <li class="popular-features_item"> Paid to eat</li>
                                            <li class="popular-features_item"> Censored search</li>
                                            <li class="popular-features_item"> Artichoke on legs</li>
                                            <li class="popular-features_item"> The ban on smiling...</li>
                                        </ul>
                                    </div>
-->



                                    <h2 class="pica english"><a href=""> Global giant</a></h2>
                                    <p class=" english  summary">The family that gave most of its business to charities</p>



                                </div>
<!--

                                <div class="byline">
                                    <div class="hide-for-small-only hide-for-medium-only hide-for-large-only responsive-image circle-48">
                                        <img src="images/byline_square_trans/douglasfraser.png" alt="" />
                                    </div>

                                    <div class="brevier brilliant byline__name-and-title">
                                        <a href="#" class="byline__name-link"><span class="byline__name">Douglas Fraser </span></a>
                                        <span class="byline__title">Business and economy editor, Scotland</span>
                                    </div>
                                </div>
-->

                            </div>
                        </div>
                    </div>

                    <div class="row" data-equalizer>
                        <div class="xxlarge-10 xlarge-10 large-24 medium-24 small-24 columns ">
                            <div class="features_item item_1 link" data-equalizer-watch>
                                <div class="responsive-image columns xxlarge-24 xlarge-24 large-8 medium-8 small-10">
                                    <img src="http://ichef.bbci.co.uk/news/624/media/images/77900000/jpg/_77900814_childabuse-getty.jpg" alt="">
                                </div>
                                <div class="features__text-block">
                                    <h2 class="pica english "><a href=""> Awful toll</a></h2>
                                    <p class=" english  summary">How much child abuse takes place in the UK?</p>
                                </div>
                            </div>
                        </div>
                        <div class="xxlarge-7 xlarge-7 large-24 medium-24 small-24 columns ">
                            <div class="features_item item_2 link" data-equalizer-watch>
                                <div class="responsive-image columns xxlarge-24 xlarge-24 large-8 medium-8 small-10 ">
                                    <img src="http://ichef.bbci.co.uk/news/624/media/images/80750000/jpg/_80750204_hi024153785.jpg" alt="">
                                </div>
                                <div class="features__text-block">
                                    <h2 class="pica english"><a href=""> David v Goliath</a></h2>
                                    <p class=" english  summary">Members of the public put their concerns over HS2 to MPs</p>

                                </div>
                            </div>
                        </div>
                        <div class="xxlarge-7 xlarge-7 large-24 medium-24 small-24 columns">
                            <div class="features_item item_3 link" data-equalizer-watch>
                                <div class="responsive-image columns xxlarge-24 xlarge-24 large-8 medium-8 small-10">
                                    <img src="http://ichef.bbci.co.uk/news/235/media/images/80733000/jpg/_80733164_pregnant_think624.jpg" alt="">
                                </div>
                                <div class="features__text-block">
                                    <h2 class="pica english"><a href=""> Same due date...</a></h2>
                                    <p class=" english  summary">But what's the chance both babies will be born on the same day? </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              
               

               