<div class="xxlarge-24 xlarge-12 large-11 columns">             
    <div class="bbccom_slot adsense-ad bbccom_adsense_slot        bbccom_visible" id="bbccom_adsense_1_2_3_4">
    <div class="bbccom_advert " id="bbccom_adsense">
        <div class="bbccom_adsense_container">
            <h3><a href="http://www.bbc.co.uk/bbc.com/faq/ads_by_google.shtml">Ads by Google</a></h3>
            <ul>
                <li>
                    <h4><a href="" target="_blank">1.79% Fixed Remortgage</a></h4>
                    <p>£200,000 Mortgage From £332/mo. Free Quotes No Fees - Apply Online</p>
                    <p><a href="" target="_blank">fixed-remortgage.ratezip.co.uk</a>
                    </p>
                </li>
                <li>
                    <h4><a href="">Brain Training Games</a></h4>
                    <p>Challenge memory and attention with scientific brain games.</p>
                    <p><a href="" target="_blank">www.lumosity.com</a>
                    </p>
                </li>
                <li>
                    <h4><a href="" >Check For PPI?</a></h4>
                    <p>All You Need Is The Name Of Your Bank. It's Easy. Find Out Now</p>
                    <p><a href="" target="_blank">www.fasttrackreclaim.com</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>