  <div class="container wrap">

            <div class="gel-off inPictures">




                <!--START CAROUSEL Picture-gallery-->
                <div class="carousel-outer-outer ">


                    <div class="main-container">
                        <div class="subheader double-pica bourgeois"><a href="">News in Pictures</a> <span class="icon-next-light"></span>
                        </div>

                        <div class="discovery-container">

                            <div class="iplayer-gradient"></div>
                            <div class="iplayer-gradient-front"></div>
                            <input checked type=radio name=slider id=slide1 />
                            <input type=radio name=slider id=slide2 />
                            <input type=radio name=slider id=slide3 />
                            <input type=radio name=slider id=slide4 />
                            <input type=radio name=slider id=slide5 />

                            <div id="slides" class="news-stream stream-outer">
                                <div class="stream-inner">
                                    <div class="stream-list inner">
                                        <div class=" fixed-width link">
                                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/79275000/jpg/_79275693_d130cb01-dc8f-41c7-ab25-40150249bf11.jpg" alt="" />
                                                <div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                                            </div>
                                            <div class="carousel__text-block">
                                                <h2 class="pica english">Pause the moment</h2>
                                                <p class="long-primer english summary hide-for-large hide-for-medium hide-for-small">Story behind an image of a student protest</p>
                                            </div>
                                        </div>
                                        <div class=" fixed-width">
                                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                                <img class="" src="http://ichef.bbci.co.uk/news/625/media/images/79262000/jpg/_79262787_79262786.jpg" alt="" />
                                                <div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                                            </div>
                                            <div class="carousel__text-block">
                                                <h2 class="pica english">The day after</h2>
                                                <p class="long-primer english summary hide-for-large hide-for-medium hide-for-small">Scenes of widespread damage in Ferguson </p>
                                            </div>
                                        </div>
                                        <div class=" fixed-width">
                                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/79286000/jpg/_79286091_pa-21545496.jpg" alt="" />
                                                <div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                                            </div>
                                            <div class="carousel__text-block">
                                                <h2 class="pica english">Lewis Hamilton </h2>
                                                <p class="long-primer english summary hide-for-large hide-for-medium hide-for-small">A photographer's view </p>
                                            </div>
                                        </div>
                                        <div class=" fixed-width">
                                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79372000/jpg/_79372274_79372273.jpg" alt="" />
                                                <div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                                            </div>
                                            <div class="carousel__text-block">
                                                <h2 class="pica english">Week in pictures </h2>
                                                <p class="long-primer english summary hide-for-large hide-for-medium hide-for-small">News photos from around the world</p>
                                            </div>
                                        </div>
                                        <div class=" fixed-width">
                                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                                <img class="" src="http://ichef.bbci.co.uk/news/624/media/images/79423000/jpg/_79423547_8fdb7d03-cc8d-4521-9570-91c85f8cfb38.jpg" alt="" />
                                                <div class="overlay-icon">
                                                    <span class="icon-photo"></span>
                                                </div>
                                            </div>
                                            <div class="carousel__text-block">
                                                <h2 class="pica english">Day in pictures</h2>
                                                <p class="long-primer english summary hide-for-large hide-for-medium hide-for-small">24 hours of news images: 1 December</p>
                                            </div>
                                        </div>
                                        <div class="fixed-width last">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id=controls>

                                <label for=slide1></label>
                                <label for=slide2></label>
                                <label for=slide3></label>
                                <label for=slide4></label>
                                <label for=slide5></label>

                            </div>
                            <!-- #controls -->

                            <div id=active>

                                <label for=slide1></label>
                                <label for=slide2></label>
                                <label for=slide3></label>
                                <label for=slide4></label>
                                <label for=slide5></label>

                            </div>

                        </div>
                    </div>
                </div>
                <!--END CAROUSEL SPARROW WATCH/LISTEN-->


            </div>
        </div>

