<!--
<link rel="stylesheet" href="../stylesheets/structure-master/structure.css" />
<link rel="stylesheet" href="../stylesheets/app.css" />
<script type="text/javascript" src="../lib/angular/angular.min.js"></script>
<script type="text/javascript" src="../js/controllers.js"></script>
-->

<div data-ng-app="App">
    <div class="architecture" data-ng-controller="base">

        <div  class="navigation-panel">
          
            <div class="flexContainer" str-row>
                

                    <ul class="top-level first" str-lg="6" str-md="6" str-sm="24" str-xs="24">
                        <li class="primary_nav__item"><a href="" class="toplevel__link">Home</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Find local news</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">UK</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">World</a></li>
                    </ul>
                    <ul class="top-level" str-lg="6" str-md="6" str-sm="24" str-xs="24">
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Business</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Politics</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Technology</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Science & Environment</a></li>
                    </ul>
                    <ul class="top-level" str-lg="6" str-md="6" str-sm="24" str-xs="24">
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Health</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Education</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Entertainment & Arts</a></li>
                        <li class="primary_nav__item"><a href="#" class="toplevel__link">Also in the News</a></li>
                    </ul>
                    <ul class="top-level" str-lg="6" str-md="6" str-sm="24" str-xs="24">
                        <li class="primary_nav__item last"><a href="#" class="toplevel__link">Most Popular</a></li>
                        <li class="primary_nav__item last"><a href="#" class="toplevel__link">Magazine</a></li>
                        <li class="primary_nav__item last"><a href="#" class="toplevel__link">In Pictures</a></li>
                        <li class="primary_nav__item last"><a href="#" class="toplevel__link">Video & Audio</a> </li>
                    </ul>
                </div>
           
            <div class="greyContainer">
                <div class="flexContainer" str-row>
                      
                        
                        <div str-lg="12" str-md="12" str-sm="24" str-xs="24" >
                           <div class="navLabel">IN DEPTH</div>
                        <ul class="top-level" >
                            
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">Special Reports</a></li>
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">Explainers</a></li>
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">Topics</a></li>
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">Future of News</a></li>
                        </ul>
                    </div>
                         <div class="nav-group" str-lg="12" str-md="12" str-sm="24" str-xs="24" >
                         <div class="navLabel">COMMENT & ANALYSIS</div>
                        <ul class="top-level">                 
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">Correspondents</a> </li>
                            <li class="primary_nav__item"><a href="#" class="toplevel__link">The Reporters</a></li>
                            <li class="primary_nav__item last"><a href="#" class="toplevel__link">Media</a></li>
                            <li class="primary_nav__item last"><a href="#" class="toplevel__link">UGC</a></li>
                        </ul> 
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>

