
                <div class="cluster midpage">

                                <div class="subheader bourgeois"><a href="">UK & Local News</a> <span class="icon-next-light"></span>
                    </div>
                    
                    <ul class=" xxlarge-block-grid-4 xlarge-block-grid-4 large-block-grid-4 medium-block-grid-2 small-block-grid-2 explainers__stories">
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://news.bbcimg.co.uk/media/images/81217000/jpg/_81217081_tv007973233.jpg" alt="" />

                            </div>
                             <h2 class="pica english section-tag branch">England</h2>

                            <h2 class="pica english"><a href="">
                Claudia police search alleyway 
            </a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24  responsive-image columns">
                                <img class="" src="http://news.bbcimg.co.uk/media/images/67888000/jpg/_67888124_longannet2.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">3:11</span>
                                </div>
                            </div>
                            <h2 class="pica english section-tag branch">Scotland</h2>
                            <h2 class="pica english"><a href="">Power station may close in a year 
</a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/304/media/images/51606000/jpg/_51606573_fa1d16c0-9c6c-4f82-b0b8-ab66ddd94f78.jpg" alt="" />

                            </div>
                            <h2 class="pica english section-tag branch">Northern Ireland</h2>
                            <h2 class="pica english"><a href="">Man is injured in Armagh explosion 
</a></h2>

                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/74183000/jpg/_74183085_cameron.jpg" alt="" />
                                <div class="overlay-icon">
                                    <span class="icon-play"></span>
                                </div>
                                <div class="video-duration brevier"><span class="duration">1:20</span>
                                </div>
                            </div>
                            <h2 class="pica english section-tag branch">Wales</h2>
                            <h2 class="pica english"><a href="">
                        Prime minister 'degrading' NHS 
                    </a></h2>

                        </li>
                    </ul>
                    <!--END SPARROW-->
                </div>