  <style>
      .splash{
    background: url(images/France-Plane-Crash.jpg) no-repeat center center;
      }
</style>

<div class="splash-container">

                <div class="splash ">
                   <div class="component-wrap">
                     </div>
                        <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 sport__top-story link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 hard-news-unit__image right">
                                <div class="responsive-image responsive-image--16by9">


                                </div>

                            </div>

                </div>
                   <div class="hard-news-unit__headline-container" >
                                 <div class="title_description__wrap">
                                 <div class="breaking-news"><span>BREAKING</span></div>
                                  <h1 class="splash-type">
            <span class="wrap">
                <span class="inner">'Three Britons were killed' in Alps plane crash</span>
            </span>
        </h1>

       </form>
                           </div>

                                </div>
                               <div class="share-container">
    <span class="share-icon"><span class="share-label">Share</span></span>
               </div>
                            </div>

                </div>
         <div class="container-splash-meta wrap">
 <div class="xxlarge-24 xlarge-24 large-24 medium-24 columns">
                    <div class="row">
                        <div class="slice-1 splash-meta">

                            <div class="row">
                                <div class="xxlarge-12 xlarge-24 large-24 medium-24 small-24 columns link">

                                    <p class="long-primer english summary ">Senior Conservatives hit back at criticism of David Cameron after he tells the BBC he will not serve a third term if the party stays in power.
                                    </p>
                                </div>
                                 <div class="xxlarge-12 xlarge-24 large-24 medium-24 small-24 columns link">
                                    <div class="idx-alsos">
                                    <ul class="brilliant brevier ">

                                        <li><a href="#"><span class="icon-play"></span> Cameron: Disaster v honest reply</a>
                                        </li>
                                        <li><a href="#"><span class="icon-play"></span> Cameron's future - reaction</a>
                                        </li>

                                        <li><a href="#"> Landale: Pandora's Box opened</a>
                                        </li>
                                        <li><a href="#"><span class="icon-play"></span>  Cameron: 'I'm not a bully'</a>
                                        </li>

                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


</div>

</div>


   <script>   $(document).keydown(function (e) {
               if (e.keyCode == 90) {
            $(".splash-type, .double-trafalgar").toggleClass('splash-type double-trafalgar');

               }
      if (e.keyCode == 88) {
            $(".splash-type,  .double-trafalgar, .canon").toggleClass('splash-type canon');

               }
        });</script>
