
                <div class="sport gel-off">
                    <div class="subheader bourgeois"><a href="">Sport</a> <span class="icon-next-light"></span>
                    </div>
                    <div class="row">
                        <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 columns sport__top-story link">
                            <div class="xxlarge-16 xlarge-16 large-16 medium-24 small-24 hard-news-unit__image right">
                                <div class="responsive-image responsive-image--16by9">
                                    <img src="http://ichef.bbci.co.uk/onesport/cps/976/mcs/media/images/79464000/jpg/_79464726_gerrard_reuters2.jpg" class="responsive-image__image js-image-replace" width="568" height="320">
                                </div>
                            </div>
                            <div class="hard-news-unit__headline-container">
                                <h2 class="great-primer bourgeois">
                              <a href="#" class="hard-news-unit__headline-link">
                              Gerrard scores in Liverpool win
                              </a>
                           </h2>
                                <p class="english summary ">Liverpool captain Steven Gerrard marks his return to the side by scoring in a 3-1 win at the Premier League's bottom club Leicester.</p>
                                <ul class="timestamp brevier">
                                    <li class="mini-info-list__item">
                                        <div class="date">1 hour ago</div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                    <ul class=" xxlarge-block-grid-3 xlarge-block-grid-3 large-block-grid-3 medium-block-grid-1 small-block-grid-1 sport__other-stories">
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79438000/jpg/_79438554_dingjunhui_pa.jpg" alt="">

                            </div>
                            <h2 class="pica english"><span class="live-icon-great-primer">LIVE</span> <a href="">UK Championship - watch third-round action from York</a></h2>
                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10  responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/onesport/cps/976/mcs/media/images/79465000/jpg/_79465310_james_tomkins1_ap.jpg" alt="">

                            </div>
                            <h2 class="pica english"><a href="">West Ham come from behind to beat Baggies</a></h2>
                        </li>
                        <li class="link">
                            <div class="xxlarge-24 xlarge-24 large-24 medium-8 small-10 responsive-image columns">
                                <img class="" src="http://ichef.bbci.co.uk/onesport/cps/400/mcs/media/images/79459000/jpg/_79459979_manutd.jpg" alt="">

                            </div>
                            <h2 class="pica english"><a href="">Mata earns Man Utd fourth straight victory</a></h2>
                        </li>
                    </ul>
                </div>