
                <div class="xxlarge-24 xlarge-24 large-24 medium-24 columns">
                    <div class="row">
                        <div class="slice-1 thepapers">
                            <div class="subheader double-pica bourgeois"><a href="">The Papers</a> <span class="icon-next-light"></span>
                            </div>
                            <div class="row">
                                <div class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 columns link">
                                    <div class="xxlarge-8 xlarge-8 large-8 medium-8 small-10 responsive-image columns ">
                                        <img class="" src="http://news.bbcimg.co.uk/media/images/80380000/jpg/_80380614_inex20.jpg" alt="" />
                                    </div>
                                    <h2 class="great-primer emerald"><a href="">'Corrie's Deirdre Dead'</a></h2>
                                    <p class="long-primer english summary ">The death of Coronation Street star Anne Kirkbride - who played Deirdre Barlow - is reported on many front pages, while reports point to changes on the Sun's page three.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

