
                <div class="reporters">
                    <div class="subheader double-pica bourgeois"><a href="">The Reporters</a> <span class="icon-next-light"></span>
                    </div>
                    <ul class=" xxlarge-block-grid-2 xlarge-block-grid-2 large-block-grid-2 medium-block-grid-1 small-block-grid-1 more-headlines">
                        <li class="link">
                            <div class=" responsive-image circle-56">
                                <img src="images/byline_square_trans/robertpeston.png" alt="" />
                            </div>
                            <h2 class="pica english"><a href="">BP sees $50 oil for three years</a></h2>
                            <div class="brevier brilliant byline__name-and-title">
                                <a href="#" class="byline__name-link"><span class="byline__name">Robert Preston </span></a>
                                <span class="byline__title">Economics editor</span>
                            </div>
                        </li>
                        <li class="link">
                            <div class=" responsive-image circle-56">
                                <img src="images/byline_square_trans/jameslandale.png" alt="" />
                            </div>
                            <h2 class="pica english"><a href="">Autumn Statement balancing act</a></h2>
                            <div class="brevier brilliant byline__name-and-title">
                                <a href="#" class="byline__name-link"><span class="byline__name">James Landale </span></a>
                                <span class="byline__title">Deputy political editor</span>
                            </div>
                        </li>
                        <li class="link">
                            <div class=" responsive-image circle-56">
                                <img src="images/byline_square_trans/douglasfraser.png" alt="" />
                            </div>
                            <h2 class="pica english"><a href="">Sturgeon: Harnessing the power of London</a></h2>
                            <div class="brevier brilliant byline__name-and-title">
                                <a href="#" class="byline__name-link"><span class="byline__name">Douglas Fraser </span></a>
                                <span class="byline__title">Business and economy editor, Scotland</span>
                            </div>
                        </li>
                        <li class="link">
                            <div class=" responsive-image circle-56">
                                <img src="images/byline_square_trans/kamalahmed.png" alt="" />
                            </div>
                            <h2 class="pica english"><a href="">Hawking warns AI could end human race</a></h2>
                            <div class="brevier brilliant byline__name-and-title">
                                <a href="#" class="byline__name-link"><span class="byline__name">Rory Cellan-Jones </span></a>
                                <span class="byline__title">Technology correspondent</span>
                            </div>
                        </li>
                    </ul>
                    <!--END SPARROW-->
                </div>