     <!--START SPARROW WATCH/LISTEN-->
                
                    <div class="watch-listen">
                        <div class="subheader double-pica bourgeois"><a href="">Watch/Listen</a> <span class="icon-next-light"></span>
                        </div>
                        
                   
                        


                       
                       
                        <div class="watch-listen__list">
                            <ul class="xxlarge-24 xlarge-24 large-24 medium-24 small-24 xxlarge-block-grid-1 xlarge-block-grid-4 large-block-grid-3 medium-block-grid-2 small-block-grid-2 left">
                              
                                <li>
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24  responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79443000/jpg/_79443825_79443823.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">5:10</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href="">Elderly people left behind in Donetsk</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">1 hour ago</div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79440000/jpg/_79440952_79440950.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">2:40</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href="">'Phone scammers stole £1,800 from us'</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">2 hours ago</div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79440000/jpg/_79440861_79440860.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">12:20</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href="">Flood projects chosen to get £2.3bn</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">5 hours ago</div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79440000/jpg/_79440121_79439933.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">3:08</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href="">Suspects' bail 'lengthened by cuts'</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">8 hours ago</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="show-for-xxlarge-only">
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/660/media/images/79460000/jpg/_79460670_79460669.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">4:03</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href="">Why won't the deficit shrink?</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">2 hours ago</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="show-for-xxlarge-only">
                                    <div class="xxlarge-10 xlarge-24 large-24 medium-24 small-24 responsive-image columns">
                                        <img class="" src="http://ichef.bbci.co.uk/news/270/media/images/81099000/jpg/_81099104_81098287.jpg" alt="" />
                                        <div class="overlay-icon">
                                            <span class="icon-play"></span>
                                        </div>
                                        <div class="video-duration brevier"><span class="duration">1:33</span>
                                        </div>
                                    </div>
                                    <h2 class="pica english"><a href=""> Vanilla Ice arrested over burglary</a></h2>
                                    <ul class="timestamp brevier">
                                        <li class="mini-info-list__item">
                                            <div class="date">9 hours ago</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>


                   
                    </div>
            
    
                <!--END SPARROW WATCH/LISTEN-->
                

