// Colours

$color-smoke:#fafafa;
$color-carbon:#111111;
$color-skyblue:rgba(19,215,255,0.8);




.bg-color-smoke{
  background-color: $color-smoke;
}

.bg-color-skyblue{
  background-color: $color-skyblue;
  z-index: 1;
}

.bg-color-carbon{
  background-color: $color-carbon;
}
.block-mt{
  padding-top: 100px;
}


.block-mb{
  padding-bottom: 80px;
}

.block-mb-20{
  padding-bottom: 20px;
}

.align-content-center{
  margin: 0 auto;
}

.align-content-right{
  margin: 0 0 0 auto;
}


.padding-zero{
  padding: 0;
}
