---
layout: default
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

   <header class="post-mast bg-alpha">
    <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
  </header>


  <div class="grid--double">
    <section class="post" itemprop="articleBody">

        <div class="post-content">

        <header class="post-header">
          <h1 itemprop="name headline">{{ page.title }}</h1>
          <time class="post-header__time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </header>

        {{ content }}

        {% if page.prototype-link %}
          <div class="container-btn">
            <a class="btn" href="{{ page.prototype-link }}">
              <div>
                <span>VIEW PROTOTYPE</span>
                <span>VIEW PROTOTYPE</span>
              </div>
            </a>
          </div>
        {% endif %}

      </div>
      {% if page.tags.size > 0 %}
        <span class="post-content__tags">Tags
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag | downcase | slugify }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span>
      {% endif %}

      {% include posts.html %}
    </section>
  </div>
</article>
